{% extends 'base-app-alt.html' %}
{% load breaktag %}
{% load staticfiles %}
{% load breaktag %}
{% block headers_css %}
{% endblock %}
{% block content %}
    <div class="row wide-row">
        <div class="row wide-row" style="padding: 5%">
            <h2 style="color: #000; text-align: center"><strong>About Wisely</strong></h2>
            <hr/>
            <div class="row">
                <div class="large-12 columns">
                    <img src="{% static 'images/1b3E67J.jpeg' %}" width="1250" height="600">
                </div>
            </div>
            <div class="row" style="margin-top: 40px">
                <div class="large-12 columns">
                    <h3>Wisely's Story</h3>
                    <hr style="margin-top: 0">
                    <p style="font-size: 16px">Wisely is building a cross-platform Massive Open Online learning
                        community to allow MOOC users to meet other students and achieve success together. Wisely is
                        founded by three students who are passionate about the potential of MOOCs but believe there is
                        room for improvement. We are developing a suite of tools to help connect, engage and motivate
                        MOOC students using the principles of gamification, loss aversion and intrinsic and extrinsic
                        incentivization. We hope to bridge the extant gaps in the MOOC ecosystem by building
                        collaboration and relationship-building tools such as group design projects and study rooms.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 40px">
                <div class="large-12 columns">
                    <h3>Wisely Founders</h3>
                    <hr style="margin-top: 0">
                    <div class="row">
                        <div class="large-4 columns" style="text-align: center">
                            <img src="http://www.placehold.it/350x150" style="margin-bottom: 20px"
                                 height="600">
                            <br>
                            <strong style="font-size: 20px">Cheng Zhao</strong><br>
                            <span style="font-size: 12px">Co-founder</span>
                        </div>
                        <div class="large-4 columns" style="text-align: center">
                            <img src="http://www.placehold.it/350x150" style="margin-bottom: 20px"
                                 height="600">
                            <br>
                            <strong style="font-size: 20px">Cynthia Liao</strong><br>
                            <span style="font-size: 12px">Co-founder</span>
                        </div>
                        <div class="large-4 columns" style="text-align: center">
                            <img src="http://www.placehold.it/350x150" style="margin-bottom: 20px"
                                 height="600">
                            <br>
                            <strong style="font-size: 20px">Tejas Mehta</strong><br>
                            <span style="font-size: 12px">Co-founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sign-in" class="light-box-white">
        <div class="row">
            <div class="large-6 columns" style="margin-top: 10px">
                <strong style="font-weight: 400;" id="sign-up-heading">SIGN IN</strong>
            </div>
            <div class="large-6 columns" style="text-align: right">
                <a href="{% url 'social:begin' 'facebook' %}"><img
                    src="{% static 'images/facebook-login.png' %}"></a>
                <a href="{% url 'social:begin' 'twitter' %}"><img
                    src="{% static 'images/twitter-login.png' %}"></a>
                <a href="{% url 'social:begin' "google-oauth2" %}"><img
                    src="{% static 'images/google-login.png' %}"></a>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 4em">
            <form action="{% url 'users:login' %}" method="post" style="margin-bottom: 0" id="login-form">
                {% csrf_token %}
                <div>
                    <input type="email" name="email" id="login-email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" id="login-password" placeholder="Password">
                </div>
                <div class="centered" style="margin-top: 3em">
                    <div class="row">
                        <div class="large-6 columns">
                            <button type="submit">LOGIN</button>
                        </div>
                        <div class="large-6 columns">
                            <button type="button" id="sign-up">SIGN UP</button>
                        </div>
                    </div>
                </div>
            </form>
            <form action="{% url 'users:sign-up' %}" method="post" style="display: none" id="signup-form">
                {% csrf_token %}
                <div>
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="extra-margin-top">
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="extra-margin-top">
                    <input type="email" name="email" id="signup-email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" id="signup-password" placeholder="Password">
                </div>
                <div class="centered" style="margin-top: 3em">
                    <div class="row">
                        <div class="large-6 columns">
                            <button type="submit">SIGN UP</button>
                        </div>
                        <div class="large-6 columns">
                            <button type="button" id="login-switch">LOGIN</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script>
        $(function () {
            $('#sign').click(function () {
                switch_form();
                $('#sign-in').lightbox_me({centered: true});
                $('.lb_overlay').css('top', '-100px', 'important');
            });

            $('#sign2').click(function () {
                switch_form();
                $('#sign-in').lightbox_me({centered: true});
                $('.lb_overlay').css('top', '-100px', 'important');
            });


            function switch_form() {
                $('form', '#sign-in').hide();
                $('#sign-up-heading').text('SIGN UP');
                $('#signup-email').val($('login-email').val());
                $('#signup-password').val($('login-password').val());
                $('#signup-form').show();
            }

            function switch_form_login() {
                $('form', '#sign-in').hide();
                $('#sign-up-heading').text('SIGN IN');
                $('login-email').val($('#signup-email').val());
                $('login-password').val($('#signup-password').val());
                $('#login-form').show();
            }

            $('#sign-up').click(function () {
                switch_form();
            });
            $('#login-switch').click(function () {
                switch_form_login();
            });

            $('.login').click(function () {
                switch_form_login();
                $('#sign-in').lightbox_me({centered: true});
                $('.lb_overlay').css('top', '-100px', 'important');
            });
        });
    </script>
{% endblock %}