{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="description"
          content="Wisely connects you with a knowledgeable community of tutors and peers online to motivate each other and learn together. For coursera and edx courses."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wisely</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-home.css' %}" cache="false"/>
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'assets/components/library/jquery/jquery.min.js' %}?v=v1.9.6&sv=v0.0.1"></script>
    <script src="{% static 'js/vendor/fastclick.js' %}"></script>
    <meta property="og:title" content="Wisely - Learn Together">
    <meta property="og:description"
          content="Wisely connects you with a knowledgeable community of tutors and peers online to motivate each other and learn together. For coursera and edx courses.">
    {% block headers_css %}
    {% endblock %}
</head>
<body>
{% block content %}
    <!-- Navigation -->

    {% include 'nav-bar.html' %}
    <!-- End Top Bar -->

    <!-- Header -->
    <section id="background-image">
        <div class="row">
            <div class="large-10 large-offset-4 small-12 columns">
                <div class="title"><h1>Commit to your learning</h1><br>

                    <div class="subtitle"><h2>
                        Wisely incentivizes you to meet your personal learning goals on Coursera. Stay on track and get
                        rewarded for your hard work.</h2><br><br>

                        <div id="dis" class="subtitle">
                            <div class="row">
                                <div class="large-6 large-offset-3 columns"><input type="text" style="height: 57px" placeholder="Email" id="email"></div>
                                <div class="large-3 columns">
                                    <button id="sign" class="other-button left">Sign Up</button>
                                </div>
                            </div>
                            <div id="validation" class="validation"></div>
                            <p>Wisely is currently under construction. Sign Up for the early
                                preview.
                            </p>
                            {% comment %}<button id="sign" class="other-button">Get Started</button>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="middle-cover">
        <div class="row">
            <div class="large-12 columns text-center">
                <h2>How it Works</h2>

                <h3>It’s time to put your money where your mouth is!</h3>
            </div>
        </div>
        <div class="wide-row row">
            <div class="large-4 columns text-center">
                <div class="column">
                    <h4 class="icon-check">Set Goals</h4>

                    <p>Tell us about your personal learning goals and we will make sure you get
                        there.</p>
                </div>
            </div>
            <div class="large-4 columns text-center">
                <div class="column">
                    <h4 class="icon-check">Pledge</h4>

                    <p>Make a commitment to yourself. You decide what you’ll pay to other users if you don’t meet
                        your goals.</p>
                </div>
            </div>
            <div class="large-4 columns text-center">
                <div class="column">
                    <h4 class="icon-check">Get Rewarded</h4>

                    <p>Earn hard cash for your hard work and get rewarded for achieving your goals! </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns text-center">
                <a href="/learn-more">
                    <button class="other-button">Learn More</button>
                </a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <section id="section-foot">
        <footer class="row">
            <div class="small-12 small-centered text-center columns about-us margin-extra-bottom">
                <h3>We are constantly looking for ways to improve and would love to hear from you.</h3>
                <button class="extra-top-margin other-button">Contact Us</button>
            </div>
        </footer>
    </section>

    <div id="login-up" class="light-box">
        <div class="row text-center">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div id="sign-up" class="light-box">
        <div class="row text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}">
                    Sign Up with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}">
                    Sign Up with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="#">
                    Sign Up with <b>Google</b>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <form action="{% url 'users:sign-up' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="extra-margin-top">
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="extra-margin-top">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</body>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{% static 'js/foundation.min.js' %}"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script>
    $(function () {
        $(document).foundation();
        {% comment %}$('#sign').click(function () {
            $('#sign-up').lightbox_me({centered: true});
        });{% endcomment %}
        $('#sign').click(function () {
            var myRootRef = new Firebase('https://wisely.firebaseIO.com/');
            var $email = $('#email').val();

            if (validateEmail($email)) {
                myRootRef.push({name: $email.split('@')[0], email: $email});
                $('#dis').text('Thank You! We will keep you updated!');
            }
            else {
                $('#validation').text('That doesn\'t look like a valid email address. Please try again.');
            }
        });
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $('#login').click(function () {
            $('#login-up').lightbox_me({centered: true});
        });
    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41719357-2', 'projectwisely.com');
    ga('send', 'pageview');
</script>
{% block additionalScripts %}
{% endblock %}
</html>
