{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="description"
          content="Wisely connects you with a knowledgeable community of tutors and peers online to motivate each other and learn together. For coursera and edx courses."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wisely</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{% static 'js/vendor/fastclick.js' %}"></script>
    <meta property="og:title" content="Wisely - Learn Together">
    <meta property="og:description"
          content="Wisely incentivizes you to meet your personal learning goals on Stay on track and get rewarded for your hard work.">
    <meta property="og:url" content="http://projectwisely.com/"/>
    <meta property="og:image" content="http://projectwisely.com/static/images/logo.png"/>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    {% block headers_css %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.1.0.min.js"></script>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-anim.css' %}" cache="false"/>
</head>
<body>
{% block content %}
    <!-- Navigation -->

    <!-- Header -->
    <section id="background-image">
        <div id="inner">
            <div style="padding-top: 3%">
                {% include 'nav-bar-alt.html' %}
            </div>

            <div class="row">
                <div class="large-12 large-centered small-12 columns">
                    <div class="title">

                        <div id="slider-parent" style="position: relative; max-height: 500px">
                            <div id="goal-name" class="anim-circle">Goal</div>
                            <div id="goal" class="anim-circle">0%</div>
                            <div id="above-slider" style="position: absolute; top: 140px; left: 50px"><h1
                                    id="inner-above"
                                    style="font-size: 3.5em">CROWD-SOURCED MOTIVATION</h1>
                            </div>
                            <div id="slider"></div>
                            <div id="below-slider" style="position: absolute; top: 400px; left: 50px"><h2
                                    style="font-size: 1.6em; color: #fff; text-align: left">Wisely helps you meet your
                                personal learning goals on Coursera, EdX, Udemy. <br>
                                Keep track of your progress and earn rewards for your achievements.</h2>
                            </div>
                            <div id="holder" class="anim-circle"></div>
                            <div id="reward" class="anim-circle">$0</div>
                            <div id="reward-name" class="anim-circle">Pledged</div>
                        </div>

                    </div>
                    <div class="row" style="display: block">
                        <a href="#after-scroll">
                            <img src="{% static 'images/down-orange.png' %}" class="finish-anim"
                                 style="margin: 0 auto; text-align: center; display: none"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="after-scroll" style="display: none">
        <div class="other-nav-bar">
            {% include 'nav-bar-alt.html' %}
        </div>
        <div class="one-place">
            <div class="row">
                <div class="large-12 columns">
                    <h1>ONE PLACE FOR ALL YOUR ONLINE COURSES</h1>

                    <h2>Wisely is the new centralized social platform for all your online education needs.</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 80px">
                <div class="large-3 columns">
                    <a href="#pledge-sec">
                        <img src="{% static 'images/pledge-icon.png' %}">

                        <div class="row pledge-color" style="margin-top: 10px;">
                            <strong>PLEDGE</strong>
                        </div>
                    </a>
                </div>
                <div class="large-3 columns">
                    <a href="#track-sec">
                        <img src="{% static 'images/track-icon.png' %}">

                        <div class="row track-color" style="margin-top: 10px">
                            <strong>TRACK</strong>
                        </div>
                    </a>
                </div>
                <div class="large-3 columns">
                    <a href="#share-sec">
                        <img src="{% static 'images/connect-icon.png' %}">

                        <div class="row connect-color" style="margin-top: 10px">
                            <strong>CONNECT</strong>
                        </div>
                    </a>
                </div>
                <div class="large-3 columns">
                    <a href="#achieve-sec">
                        <img src="{% static 'images/acheive-icon.png' %}">

                        <div class="row achieve-color" style="margin-top: 10px">
                            <strong>ACHIEVE</strong>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="pledge-sec alt-back" id="pledge-sec">
            <div class="row">
                <img src="{% static 'images/pledge-trans.png' %}" style="margin-top: -210px" id="pledge-ic">

                <h1 class="pledge-color" style="margin-top: -60px"><strong>PLEDGE</strong></h1>

                <h2 style="text-align: left">Set your goal and make a pledge to commit to your learning. Get rewards for
                    completing assignments and reaching your goals, paid for by member who don't.</h2>

                <img src="{% static 'images/pledge-image.png' %}">
            </div>
        </div>
        <div class="track-sec" id="track-sec">
            <div class="row">
                <img src="{% static 'images/track-trans.png' %}" style="margin-top: -210px" id="track-ic">

                <h1 class="track-color" style="margin-top: -60px"><strong>TRACK</strong></h1>

                <h2 style="text-align: left">Wisely helps you monitor your progress across all of your online courses in
                    one easy-to-use dashboard. Get notified of announcements, updates, and upcoming deadlines.</h2>

                <img src="{% static 'images/track-image.png' %}">
            </div>
        </div>
        <div class="share-sec alt-back" id="share-sec">
            <div class="row">
                <img src="{% static 'images/connect-trans.png' %}" style="margin-top: -210px" id="share-ic">

                <h1 class="connect-color" style="margin-top: -60px"><strong>CONNECT</strong></h1>

                <h2 style="text-align: left">Meet your online classmates through Wisely and collabrate through live
                    study rooms. Share your progress with your followers and social networks.</h2>

                <img src="{% static 'images/connect-image.png' %}" style="margin-bottom: -80px">
            </div>
        </div>
        <div class="achieve-sec" id="achieve-sec">
            <div class="row">
                <img src="{% static 'images/achieve-trans.png' %}" style="margin-top: -210px" id="achieve-ic">

                <h1 class="achieve-color" style="margin-top: -60px"><strong>ACHIEVE</strong></h1>

                <h2 style="text-align: center">Stay motivated, stay on track, and achieve your goals with Wisely.</h2>

                <img src="{% static 'images/achieve-image.png' %}" style="margin-bottom: -80px">
            </div>
        </div>

        <div class="people-sec alt-back">
            <div class="row">
                <img src="{% static 'images/logo-blue.png' %}" style="margin-top: -210px">

                <h1>WHAT PEOPLE SAY ABOUT US</h1>

                <h2>Wisely is the new centralized social platform for all your online education needs.</h2>
            </div>
            <div class="wide-row" style="margin-top: 20px">
                <img src="{% static 'images/people-image.png' %}" width="1200">
            </div>
        </div>

    </section>
    <div class="last-sec blue-back">
    </div>

    <div id="login-up" class="light-box">
        <div class="row text-center">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div id="sign-up" class="light-box">
        <div id="fb_pixel" class="fb_pixel_e"></div>
        <div class="row text-center">
            <p><strong>Welcome to Wisely!</strong><br>

                We are currently in Beta. Take a look around!<br>

                We would love to hear your feedback.</p>
        </div>
        <div class="row text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}"
                   onclick="document.getElementById('fb_pixel').setAttribute('class', 'fb_pixel_signup');">
                    Sign Up with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}"
                   onclick="document.getElementById('fb_pixel').setAttribute('class', 'fb_pixel_signup');">
                    Sign Up with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="{% url 'socialauth_begin' 'google-oauth2' %}"
                   onclick="document.getElementById('fb_pixel').setAttribute('class', 'fb_pixel_signup');">
                    Sign Up with <b>Google</b>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <form action="{% url 'users:sign-up' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="extra-margin-top">
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="extra-margin-top">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit" class="other-button"
                            onclick="document.getElementById('fb_pixel').setAttribute('class', 'fb_pixel_signup');">Sign
                        Up
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="contact-us" class="light-box">
        <div class="row text-center" id="contact-body">
            <h2>Contact Us</h2>

            <div class="extra-top-margin">
                <input type="email" name="email" id='contact-email' placeholder="Your Email Address">
            </div>
            <div class="extra-margin-top">
                <textarea id="contact-mail" placeholder="Your Message"></textarea>
            </div>
            <div class="row">
                <div id="validation-contact" class="validation" style="color: red;"></div>
            </div>
            <div class="centered extra-top-margin">
                <button id="contact-send" class="other-button">Send</button>
            </div>
        </div>
    </div>
{% endblock %}
</body>
<script src="{% static 'js/foundation.min.js' %}"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script src="{% static 'js/raph.js' %}"></script>
<script src="{% static 'js/raph-plugin.js' %}"></script>
<script>
    var archtype = Raphael("holder", 500, 500);
    archtype.defineLinearGradient("grad1", [
        {
            "id": "s1",
            "offset": "0",
            "style": "stop-color:#F15D28;stop-opacity:1;"},
        {
            "id": "s2",
            "offset": "1",
            "style": "stop-color:#F2CD03;stop-opacity:1;"}
    ]);

    var center = 250;

    archtype.defineLinearGradient("grad2", [
        {
            "id": "s1",
            "offset": "0",
            "style": "stop-color:#52ADA8;stop-opacity:1;"},
        {
            "id": "s2",
            "offset": "1",
            "style": "stop-color:#7EAA84;stop-opacity:1;"}
    ]);
    archtype.customAttributes.arc = function (xloc, yloc, value, total, R) {
        var alpha = 360 / total * value,
                a = (90 - alpha) * Math.PI / 180,
                x = xloc + R * Math.cos(a),
                y = yloc - R * Math.sin(a),
                path;
        if (total == value) {
            path = [
                ["M", xloc, yloc - R],
                ["A", R, R, 0, 1, 1, xloc - 0.01, yloc - R]
            ];
        } else {
            path = [
                ["M", xloc, yloc - R],
                ["A", R, R, 0, +(alpha > 180), 1, x, y]
            ];
        }
        return {
            path: path
        };
    };

    archtype.customAttributes.arc2 = function (xloc, yloc, value, total, R) {
        var alpha = 360 / total * value,
                a = (90 - alpha) * Math.PI / 180,
                x = xloc - R * Math.cos(a),
                y = yloc - R * Math.sin(a),
                path;
        if (total == value) {
            path = [
                ["M", xloc, yloc - R],
                ["A", R, R, 0, 1, 1, xloc - 0.01, yloc - R]
            ];
        } else {
            path = [
                ["M", xloc, yloc - R],
                ["A", R, R, 0, +(alpha > 180), 0, x, y]
            ];
        }
        return {
            path: path
        };
    };

    //make an arc at 50,50 with a radius of 30 that grows from 0 to 40 of 100 with a bounce
    var goal_arc = archtype.path().attr({
        "stroke": "#f00",
        "stroke-width": 15,
        arc: [center, center, 0, 100, 200]
    });
    goal_arc.strokeLinearGradient("grad1", 15);
    goal_arc.rotate(-87, center, center);

    var top_grey_arc = archtype.path().attr({
        "stroke": "#836D65",
        "stroke-width": 15,
        "stroke-opacity": 0.6,
        arc: [center, center, 48.5, 100, 215]
    });
    top_grey_arc.rotate(-87, center, center);

    var bottom_grey_arc = archtype.path().attr({
        "stroke": "#836D65",
        "stroke-width": 15,
        "stroke-opacity": 0.6,
        arc: [center, center, 49.5, 100, 215]
    });
    bottom_grey_arc.rotate(-270, center, center);

    var money_arc = archtype.path().attr({
        "stroke": "#f00",
        "stroke-width": 15,
        arc2: [center, center, 0, 100, 200]
    });
    money_arc.strokeLinearGradient("grad2", 15);
    money_arc.rotate(-91, center, center);

    var circle = archtype.circle(250, 250, 192);
    circle.attr("fill", "#fff");
    circle.attr("fill-opacity", 0.5);

    // Sets the stroke attribute of the circle to white
    circle.attr("stroke", "#fff");
    var counter = 0;
    var counter_goal = 0;
    var counter_reward = 0;
    function updateTime() {
        counter++;
        counter_goal = parseInt(counter);
        if (counter_goal > 75) {
            counter_goal = 75;
        }
        counter_reward = parseInt(counter_goal / 2) - 7;
        if (counter_reward < 0) {
            counter_reward = 3;
        }
        $('#goal').text(counter_goal.toString() + "%");
        $('#reward').text("$" + counter_reward.toString());
    }
    var other_int = null;
    function start_anim() {
        // Custom Arc Attribute, position x&y, value portion of total, total value, Radius

        goal_arc.animate({
            arc: [center, center, 37, 100, 200]
        }, 5000, "bounce", function () {

        });


        money_arc.animate({
            arc2: [center, center, 19, 100, 200]
        }, 5000, "bounce", function () {

        });
        other_int = setInterval(updateTime, 10000 / 75);
    }
</script>
<script>
    $(function () {
        var int_func = null;
        var completed = false;
        var started = false;
        $("#slider").slider({
            value: 250,
            range: "min",
            min: 1,
            max: 1000,
            create: function (event, ui) {
                setSliderTicks(event.target);
                $('.under-slide').css({width: '39px'})
            },
            slide: function (event, ui) {
                if (completed) {
                    return false;
                }
                if (ui.value > 400 && started == false) {
                    $('#above-slider').fadeOut(300);
                    $('#below-slider').fadeOut(300);
                    var image = $('#background-image');
                    image.hide();
                    $("#inner").fadeTo(10, 1);
                    image.css("background", "url('{% static 'images/shutterstock_125165846.jpg' %}') no-repeat center center fixed");
                    image.css("background-size", "cover");
                    image.fadeIn(100, function () {
                    });
                    $('.anim-circle').css({visibility: 'visible'});
                    $('.anim-circle').fadeIn(1000, function () {
                        start_anim();
                    });
                    started = true;
                }
                if (ui.value == 1000) {
                    completed = true;
                    int_func = setInterval(finishanim, 10);
                }

            }
        });

        function finishanim() {
            if ($('#goal').text() == "75%") {
                $('.anim-circle').fadeOut(1000, function () {
                    $('.anim-circle').css({visibility: 'hidden'});
                    $('.anim-circle').show();
                    $('#after-scroll').fadeIn(500);
                    $('.finish-anim').fadeIn(500);
                });
                clearInterval(int_func);
                clearInterval(other_int);
                var image = $('#background-image');
                image.hide();
                $("#inner").fadeTo(10, 1);
                image.css("background", "url('{% static 'images/shutterstock_153034898.jpg' %}') no-repeat center center fixed");
                image.css("background-size", "cover");
                image.fadeIn(100, function () {
                });
                $('#inner-above').text('COLLABRATE EDUCATION');
                $('#above-slider').css('left', '125px');
                $('#above-slider').fadeIn(100);
                $('#below-slider').fadeIn(100);
                $('.under-slide').attr({src: "{% static 'images/check-mark-green.png' %}"});
            }
        }

        function setSliderTicks(el) {
            var $slider = $(el);
            var max = $slider.slider("option", "max");
            var min = $slider.slider("option", "min");
            var spacing = 25;

            $slider.find('.ui-slider-tick-mark').remove();
            for (var i = 1; i < max - min; i++) {
                if (spacing * i < 100) {
                    $('<span class="ui-slider-tick-mark"></span>').css('left', (spacing * i) + '%').appendTo($slider);
                }
            }
        }

        $('.ui-slider-handle').append("<img src='{% static 'images/scene2.png' %}' class='under-slide'>");


        $('#pledge-sec').hover(function () {
            $('#pledge-ic').attr('src', '{% static 'images/pledge-icon.png' %}');
        }, function () {
            $('#pledge-ic').attr('src', '{% static 'images/pledge-trans.png' %}');
        });

        $('#track-sec').hover(function () {
            $('#track-ic').attr('src', '{% static 'images/track-icon.png' %}');
        }, function () {
            $('#track-ic').attr('src', '{% static 'images/track-trans.png' %}');
        });

        $('#share-sec').hover(function () {
            $('#share-ic').attr('src', '{% static 'images/connect-icon.png' %}');
        }, function () {
            $('#share-ic').attr('src', '{% static 'images/connect-trans.png' %}');
        });

        $('#achieve-sec').hover(function () {
            $('#achieve-ic').attr('src', '{% static 'images/acheive-icon.png' %}');
        }, function () {
            $('#achieve-ic').attr('src', '{% static 'images/achieve-trans.png' %}');
        });
    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41719357-2', 'projectwisely.com');
    ga('send', 'pageview');
</script>
{% block additionalScripts %}
{% endblock %}
</html>
