{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
    <meta charset="utf-8"/>
    <title>Wisely</title>
    <meta name="description"
          content="Wisely Learning"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/app.v2.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css" cache="false"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" cache="false"/>
    <!--[if lt IE 9]> <script src="{% static 'js/ie/html5shiv.js' %}" cache="false"></script> <script src="{% static 'js/ie/respond.min.js'%}" cache="false"></script> <script src="{% static 'js/ie/excanvas.js' %}" cache="false"></script>
    <![endif]--></head>
<body>
{% block content %}
    <section id="content" class="m-t-lg wrapper-md animated fadeInDown">
        <div class="container aside-xxl"><a class="navbar-brand block" href="#">Wisely</a>
            <section class="panel panel-default m-t-lg bg-white">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="{% url 'user:login' %}"
                           class="btn btn-default btn-block btn-primary extra-margin-bottom extra-margin-top">Sign
                            Up</a>
                        </div>
                    <div class="col-lg-6">
                        <a href="{% url 'user:login' %}"
                           class="btn btn-default btn-block btn-primary extra-margin-top">Login</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>Wisely<br>&copy; 2013</small>
        </p>
    </div>
</footer>
<!-- / footer -->
<script src="js/app.v2.js"></script>
<!-- Bootstrap --> <!-- App --> </body>
</html>