{% load staticfiles %}
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta name="description"
          content="Wisely is an online social platform connecting massive online open course students with each other to motivate and learn together. Get motivated through pledging, collaborative learning, and social networking. For coursera, edx, and udemy."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wisely</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{% static 'js/vendor/fastclick.js' %}"></script>
    <meta property="og:title" content="Wisely - Learn Together">
    <meta property="og:description"
          content="Wisely incentivizes you to meet your personal learning goals on Stay on track and get rewarded for your hard work.">
    <meta property="og:url" content="https://projectwisely.com/"/>
    <meta property="og:image" content="https://projectwisely.com/static/images/logo.png"/>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-anim.css' %}" cache="false"/>
    {% block headers_css %}
    {% endblock %}
</head>
<body style="height: 100%; background: #F7F9FA">
<section id="after-scroll">
    <div id="main-nav-wrapper" style="display: block; position: fixed; z-index: 100;top: 0; padding-top: 0.5%;
         left: 0;right: 0;width: 100%;background: #0F486D;">
        {% block nav-bar %}
            {% include 'nav-bar-alt.html' %}
        {% endblock %}
    </div>
    <div style="margin-top: 65px; min-height: 600px">
        {% block content %}
        {% endblock %}
    </div>
    <div class="last-sec blue-back">
        <div class="row">
            <div class="large-12 centered">
                <div class="row" style="margin-top: 2em; font-size: 1.3em">
                    <a id="contact" style="margin-right: 2em; color: #fff">Contact Us</a>
                    <a href="https://www.facebook.com/projectwisely" style="margin-right: 2em"><img
                        src="{% static 'images/facebook-login.png' %}"></a>
                    <a href="https://twitter.com/learnwithwisely" style="margin-right: 2em"><img
                        src="{% static 'images/twitter-login.png' %}"></a>
                    <a href="https://plus.google.com/+Projectwisely/posts" style="margin-right: 2em"><img
                        src="{% static 'images/google-login.png' %}"></a>
                    <a href="https://www.linkedin.com/company/5079802?trk=tyah&trkInfo=tarId%3A1400458241641%2Ctas%3Awisely%2Cidx%3A2-2-7"
                       style="margin-right: 2em"><img
                        src="{% static 'images/linkedin-login.jpg' %}"></a>
                    <a href="/privacy" style="color: #fff">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-us" class="light-box">
        <i class="fa fa-times-circle-o close" style="margin-top: -25px; margin-right: -30px; float: right"></i>

        <div class="row text-center" id="contact-body">
            <h2 style="color: #333">Contact Us</h2>

            <div class="extra-top-margin">
                <input style="font-size: 1.2em" type="email" name="email" id='contact-email'
                       placeholder="Your Email Address">
            </div>
            <div class="extra-margin-top">
                <textarea id="contact-mail" style="font-size: 1.2em; font-family: Dist-light"
                          placeholder="Your Message"></textarea>
            </div>
            <div class="row">
                <div id="validation-contact" class="validation" style="color: red;"></div>
            </div>
            <div class="centered extra-top-margin">
                <button id="contact-send">Send</button>
            </div>
        </div>
    </div>
</section>
<div id="messages" class="light-box">
    <i class="fa fa-times-circle-o close" style="margin-top: -25px; margin-right: -30px; float: right"></i>

    <div class="row text-center">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
</div>
</body>
<script src="{% static 'js/foundation/foundation.js' %}"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41719357-2', 'projectwisely.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
{% block additionalScripts %}
{% endblock %}
<script>
    $(function () {

        {% if messages %}
            $('#messages').lightbox_me({centered: true});
        {% endif %}

        $('#contact').click(function () {
            $('#contact-us').lightbox_me({centered: true});
        });

        $('#contact-send').click(function () {
            var myRootRef = new Firebase('https://wisely.firebaseIO.com/');

            if (validateEmail($('#contact-email').val())) {
                $.post('{% url 'users:contact_us' %}', {name: $('#contact-email').val().split('@')[0], message: $('#contact-mail').val()});
                myRootRef.push({name: $('#contact-email').val().split('@')[0], msg: $('#contact-mail').val()});
                $('#contact-body').text('Thank You! We will keep you updated!');
                $('#contact-us').trigger('close');
            } else {
                $('#validation-contact').text('That doesn\'t look like a valid email address. Please try again.');
            }
        });
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $(document).foundation();
    });
</script>
</html>
