{% extends 'base-app-alt.html' %}
{% load breaktag %}
{% load staticfiles %}
{% load breaktag %}
{% block headers_css %}
{% endblock %}
{% block content %}
    <div class="row wide-row">
        <div class="large-12 columns" style="padding-top: 40px;">
            <div class="row">
                <h2 style="color: #000; text-align: center"><strong>FAQ</strong></h2>
            </div>
        </div>
    </div>
    <div class="row faq" style="margin-top: 1em" id="all-topics">
        <div class="large-12 columns">
            <div class="panel">
                <p>How much should I pledge?</p>
            </div>
            <div class="panel-content">
                <p>That’s up to you! Wisely encourages you to pledge the amount that you think will
                    motivate you to achieve your goals, with a minimum of $10. Your reward will be
                    calculated based on what grade you aim to
                    achieve in the course, not how much you pledge.</p>
            </div>

            <div class="panel">
                <p>What should my goal be?</p>
            </div>
            <div class="panel-content">
                <p>This one’s up to you! Take a minute to review the course topics, assignments and
                    expectations and consider factors such as:
                    <br>
                    <br>
                <ul>
                    <li>How much time will I have to commit?</li>
                    <li>How important is the course material to me?</li>
                </ul>
                Push yourself! Remember, the higher your goal, the more you’ll be rewarded when
                you reach your goal.</p>
            </div>

            <div class="panel">
                <p>Can I change my pledge?
            </div>
            <div class="panel-content">
                <p>Unfortunately, once you make a pledge for an entire course, you cannot change
                    your pledge for that course. This is to help keep you motivated and
                    committed.</p>
            </div>

            <div class="panel">
                <p>How much will I be rewarded?</p>
            </div>
            <div class="panel-content">
                <p>Pledges from all of the users that do not reach their goal are pooled. The pool
                    is divided amongst all of the users that were successful. The rewards are
                    allocated based on the goal you set for yourself. If you pledge to obtain 90% in
                    the course, you will be rewarded more than if you pledged to 60%.</p>
            </div>
            <div class="panel">
                <p>What counts as ‘achieving my goal’?</p>
            </div>
            <div class="panel-content">
                <p>When you make a pledge, you will be asked to set a goal for performance in the
                    course. If your final mark in the course is equal to or above the goal you set
                    for yourself, congratulations! You have successfully achieved your goal.</p>
            </div>
            <div class="panel">
                <p>How are payments accepted?</p>
            </div>
            <div class="panel-content">
                <p>Wisely currently accepts payment through Visa, MasterCard and all other credit
                    cards.</p>
            </div>

            <div class="panel">
                <p>Will I get charged right away?</p>
            </div>
            <div class="panel-content">
                <p>Yes, Wisely collects your pledge upfront and will return in full to you (plus a reward!) once you
                    have
                    reached your goal.</p>
            </div>

            <div class="panel">
                <p>Can I change my pledge?</p>
            </div>
            <div class="panel-content">
                <p>Unfortunately, once you make a pledge for an entire course, you cannot change
                    your pledge for that course. This is to help keep you motivated and
                    committed.</p>
            </div>

            <div class="panel">
                <p>When can I collect my reward?</p>
            </div>
            <div class="panel-content">
                <p>Once your rewards account reaches $10, you can cash in your reward through paypal.
                    Well done on your hard work! Alternatively, you can continue to let it accumulate
                    and cash in on various gift cards and prizes from our sponsors. Lastly, once you
                    accumulate rewards, you have the option to pledge using your reward account instead
                    of cash.</p>
            </div>
            <div class="panel">
                <p>How does Wisely track my progress?</p>
            </div>
            <div class="panel-content">
                <p>Once you sign into your Coursera account, we will be able to help
                    you track your progress
                    through information we gather from Coursera. Don’t worry, all of your information is
                    secured
                    and will never be shared with anyone.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script>
        $('#all-filt').click(function () {
            $('.faq').hide();
            $('#all-topics').show();
            $('#filters').find('p').removeClass('selected-news');
            $(this).addClass('selected-news');
        });

        $('#pay-filt').click(function () {
            $('.faq').hide();
            $('#pay-topics').show();
            $('#filters').find('p').removeClass('selected-news');
            $(this).addClass('selected-news');
        });

        $('#tech-filt').click(function () {
            $('.faq').hide();
            $('#tech-topics').show();
            $('#filters').find('p').removeClass('selected-news');
            $(this).addClass('selected-news');
        });
    </script>
{% endblock %}