{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row main-interface learn-more">
        <div class="row extra-top-margin">
            <div class="large-8 large-push-1 columns">
                <h2>Questions? We have answers.</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-push-2 columns">
                <h3>You can find some answers to commonly asked questions below.</h3>
            </div>
        </div>
        <div class="row extra-top-margin">
            <div class="large-10 push-1 columns" style="margin-left: 10px">
                <p class="question-color">Can I change my pledge?</p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 push-2 columns">
                <p>Unfortunately, once you make a pledge for an entire course, you cannot change your pledge for that
                    course. This is to help keep you motivated and committed. </p>
            </div>
        </div>
        <div class="row extra-top-margin">
            <div class="large-10 push-1 columns" style="margin-left: 10px">
                <p class="question-color">Can I remove my pledge?</p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 push-2 columns">
                <p>Of course, we understand sometimes circumstances can come up. If that’s the case, please fill out a
                    Request for Leave of Compassionate Reason. Once approved, your pledge amount is safe and will stay
                    in your account and you can come back at anytime to pledge it towards another course.</p>
            </div>
        </div>
        <div class="row extra-top-margin">
            <div class="large-10 push-1 columns" style="margin-left: 10px">
                <p class="question-color">What if I miss an assignment?</p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 push-2 columns">
                <p>We get it. Sometime life happens or an assignment sucks and for whatever reason, you just didn't
                    complete it on time. That’s why everyone gets three ‘Freebies’ per course that you can apply to any
                    assignment or quiz throughout the course. Use them sparingly!</p>
            </div>
        </div>
        <div class="row extra-top-margin">
            <div class="large-10 push-1 columns" style="margin-left: 10px">
                <p class="question-color">How much will I be rewarded?</p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 push-2 columns">
                <p>Rewards will be calculated when the course ends, determined by the number of users that have
                    completed their goals. Rewards are divided evenly amongst all of the users, regardless of how much
                    money you pledge.</p>
            </div>
        </div>
        <div class="row extra-top-margin">
            <div class="large-10 push-1 columns" style="margin-left: 10px">
                <p class="question-color">What counts as ‘completion’?</p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 push-2 columns">
                <p>Completion of a course means you have handed in all quizzes or assignment. You must submit the
                    assignment by the deadline of your course and you must obtain a minimum grade of 60% for it to
                    count.</p>
            </div>
        </div>
        <div class="row extra-top-margin text-center">
            <h3>Have more questions?</h3>
            <a href="#">
                <button class="other-button">Contact Us</button>
            </a>
        </div>
    </div>

{% endblock %}
