{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block nav-bar %}
    <li class=""><a href="{% url 'users:index' %}"><i class="fa fa-book"></i><span>Courses</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:index' %}"><i
            class="fa fa-book"></i><span>Pledges</span></a>
    </li>
    <li class=""><a href="#"><i
            class="fa fa-book"></i><span>More Coming Soon!</span></a>
    </li>
{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1 class="separator bottom">Questions? We have answers.</h1>

        <h2 class="heading">You can find some answers to commonly asked questions below.</h2>

        <div class="widget widget-tabs widget-tabs-double-2 extra-top-margin">

            <!-- Widget heading -->
            <div class="widget-head">
                <ul>
                    <li class="active"><a class="glyphicons list" href="#tabAll"
                                          data-toggle="tab"><i></i><span>All topics</span></a></li>
                    <li class=""><a class="glyphicons credit_card" href="#tabPayments"
                                    data-toggle="tab"><i></i><span>Payments</span></a></li>
                    <li class=""><a class="glyphicons cogwheel" href="#tabSupport"
                                    data-toggle="tab"><i></i><span>Technical Support</span></a></li>
                    <li class=""><a class="glyphicons snowflake" href="#tabFeatures"
                                    data-toggle="tab"><i></i><span>Features</span></a></li>
                </ul>
            </div>
            <!-- // Widget heading END -->

            <div class="widget-body">
                <div class="tab-content">

                    <!-- Tab content -->
                    <div id="tabAll" class="tab-pane active">
                        <div class="panel-group accordion accordion-2" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a
                                            class="accordion-toggle glyphicons circle_question_mark collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse-1"><i></i>Can I change my pledge?</a></h4>
                                </div>
                                <div id="collapse-1" class="panel-collapse collapse"
                                     style="height: 0px;">
                                    <div class="panel-body">
                                        Unfortunately, once you make a pledge for an entire course, you cannot change
                                        your pledge for that
                                        course. This is to help keep you motivated and committed.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a
                                            class="accordion-toggle glyphicons circle_question_mark collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse-2"><i></i>Can I remove my pledge?</a></h4>
                                </div>
                                <div id="collapse-2" class="panel-collapse collapse"
                                     style="height: 0px;">
                                    <div class="panel-body">
                                        Of course, we understand sometimes circumstances can come up. If that’s the
                                        case, please fill out a
                                        Request for Leave of Compassionate Reason. Once approved, your pledge amount is
                                        safe and will stay
                                        in your account and you can come back at anytime to pledge it towards another
                                        course.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a
                                            class="accordion-toggle glyphicons circle_question_mark collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse-3"><i></i>What if I miss an assignment?</a></h4>
                                </div>
                                <div id="collapse-3" class="panel-collapse collapse"
                                     style="height: 0px;">
                                    <div class="panel-body">
                                        <p>We get it. Sometime life happens or an assignment sucks and for whatever
                                            reason, you just didn't
                                            complete it on time. That’s why everyone gets two ‘Freebies’ per course
                                            that you can apply to any
                                            assignment or quiz throughout the course. Use them sparingly!</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a
                                            class="accordion-toggle glyphicons circle_question_mark collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse-4"><i></i>How much will I be rewarded?</a></h4>
                                </div>
                                <div id="collapse-4" class="panel-collapse collapse" style="height: auto;">
                                    <div class="panel-body">
                                        Rewards will be calculated when the course ends, determined by the number of
                                        users that have
                                        completed their goals. Rewards are divided evenly amongst all of the users,
                                        regardless of how much
                                        money you pledge.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a
                                            class="accordion-toggle glyphicons circle_question_mark collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse-5"><i></i>What counts as ‘completion’?</a></h4>
                                </div>
                                <div id="collapse-5" class="panel-collapse collapse" style="height: auto;">
                                    <div class="panel-body">
                                        Completion of a course means you have handed in all quizzes or assignment. You
                                        must submit the
                                        assignment by the deadline of your course and you must obtain a minimum grade of
                                        60% for it to
                                        count.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab content -->
                    <div id="tabPayments" class="tab-pane widget-body-regular">
                        <h5>Payments tab content</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante est,
                            tempor ut posuere nec, venenatis sed arcu. Vestibulum ante ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae; Duis in purus ut
                            mauris sodales sollicitudin. Mauris cursus imperdiet dignissim. Phasellus
                            risus felis, rutrum in laoreet vel, posuere vel dolor. Sed venenatis
                            vehicula tempus. Nam at rutrum enim. Sed massa quam, mattis in viverra ut,
                            ullamcorper et massa. Phasellus sapien diam, faucibus ac tempor a,
                            condimentum quis est. Donec nec velit ante, vel mattis metus. Ut nec libero
                            diam, id auctor sapien. Suspendisse eget lorem ante, in fringilla dui. In
                            hac habitasse platea dictumst.</p>
                    </div>
                    <!-- // Tab content END -->

                    <!-- Tab content -->
                    <div id="tabSupport" class="tab-pane widget-body-regular">
                        <h5>Support tab content</h5>

                        <p>Integer porttitor, enim eu egestas ullamcorper, odio mauris semper quam, in
                            facilisis dui ligula eget ligula. Pellentesque habitant morbi tristique
                            senectus et netus et malesuada fames ac turpis egestas. Maecenas dolor leo,
                            consectetur nec tristique pretium, ornare quis purus. Nullam pulvinar, enim
                            eu molestie venenatis, turpis nisl vehicula eros, et ultricies risus urna
                            sed diam. Suspendisse potenti. Nullam tincidunt tellus nisi. Aenean felis
                            eros, congue vitae hendrerit id, mattis quis mi.</p>
                    </div>
                    <!-- // Tab content END -->

                    <!-- Tab content -->
                    <div id="tabFeatures" class="tab-pane widget-body-regular">
                        <h5>Features tab content</h5>

                        <p>Nunc aliquet lacus laoreet odio consectetur tempus. In id nisl diam, congue
                            vehicula sapien. Nulla facilisi. Donec sagittis cursus sollicitudin. Aenean
                            leo tellus, eleifend quis facilisis vel, tempus ac elit. Nam eget turpis nec
                            erat vestibulum fringilla. Donec et felis ipsum. Fusce feugiat ultricies
                            lacus a ultrices. Nunc ultrices, orci ut convallis pulvinar, diam nunc
                            tincidunt augue, sit amet lacinia ante mi a augue. Sed feugiat, neque eget
                            porttitor varius, tellus nisi sollicitudin libero, nec aliquam ante dui
                            gravida ipsum. Fusce cursus rhoncus lectus, quis malesuada sapien facilisis
                            eu. Aenean vitae massa sed urna condimentum porttitor ac at risus.</p>
                    </div>
                    <!-- // Tab content END -->

                </div>
            </div>
        </div>
        <!-- // Widget END -->

    </div>
{% endblock %}
