{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block nav-bar %}
    <li class=""><a href="{% url 'users:index' %}"><i class="fa fa-book"></i><span>Courses</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:index' %}"><i
            class="fa fa-book"></i><span>Pledges</span></a>
    </li>
    <li class=""><a href="#"><i
            class="fa fa-book"></i><span>More Coming Soon!</span></a>
    </li>
{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <h1 class="separator bottom">Questions? We have answers.</h1>

    <h2 class="heading">You can find some answers to commonly asked questions below.</h2>

    <div class="widget widget-tabs widget-tabs-double-2 extra-top-margin">

        <!-- Widget heading -->
        <div class="widget-head">
            <ul>
                <li class="active"><a class="glyphicons list" href="#tabPledge"
                                      data-toggle="tab"><i></i><span>All topics</span></a></li>
                <li class=""><a class="glyphicons credit_card" href="#tabPayments"
                                data-toggle="tab"><i></i><span>Payments</span></a></li>
                <li class=""><a class="glyphicons cogwheel" href="#tabSupport"
                                data-toggle="tab"><i></i><span>Technical</span></a></li>
            </ul>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">
            <div class="tab-content">

                <!-- Tab content -->
                <div id="tabPledge" class="tab-pane active">
                    <div class="panel-group accordion accordion-2" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse-1"><i></i>How much should I pledge?</a></h4>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse"
                                 style="height: 0px;">
                                <div class="panel-body">
                                    That’s up to you! Wisely encourages you to pledge the amount that you think will
                                    motivate you to achieve your goals, with a minimum of $10. Your reward will be
                                    calculated based on what grade you aim to
                                    achieve in the course, not how much you pledge.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse-2"><i></i>What should my goal be?</a></h4>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse"
                                 style="height: 0px;">
                                <div class="panel-body">
                                    This one’s up to you! Take a minute to review the course topics, assignments and
                                    expectations and consider factors such as:
                                    <br>
                                    <br>
                                    <ul>
                                        <li>How much time will I have to commit?</li>
                                        <li>How important is the course material to me?</li>
                                    </ul>
                                    <br>
                                    Push yourself! Remember, the higher your goal, the more you’ll be rewarded when
                                    you reach your goal.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse-3"><i></i>Can I change my pledge?</a></h4>
                            </div>
                            <div id="collapse-3" class="panel-collapse collapse"
                                 style="height: 0px;">
                                <div class="panel-body">
                                    <p>Unfortunately, once you make a pledge for an entire course, you cannot change
                                        your pledge for that course. This is to help keep you motivated and
                                        committed.</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse-4"><i></i>Can I remove my pledge?</a></h4>
                            </div>
                            <div id="collapse-4" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                    Of course, we understand sometimes circumstances can come up. If that’s the
                                    case, please fill out a Request for Leave of Compassionate Reason. Once
                                    approved, your pledge amount is safe and will stay in your account and you can
                                    come back at anytime to pledge it towards another course.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse-5"><i></i>How much will I be rewarded?</a></h4>
                            </div>
                            <div id="collapse-5" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                    Pledges from all of the users that do not reach their goal are pooled. The pool
                                    is divided amongst all of the users that were successful. The rewards are
                                    allocated based on the goal you set for yourself. If you pledge to obtain 90% in
                                    the course, you will be rewarded more than if you pledged to 60%.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse-6"><i></i>What counts as ‘achieving my goal’?</a></h4>
                            </div>
                            <div id="collapse-6" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                    When you make a pledge, you will be asked to set a goal for performance in the
                                    course. If your final mark in the course is equal to or above the goal you set
                                    for yourself, congratulations! You have successfully achieved your goal.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab content -->
                <div id="tabPayments" class="tab-pane widget-body-regular">
                    <div class="panel-group accordion accordion-2" id="accordion-2">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion-2"
                                        href="#collapse-7"><i></i>How are payments accepted?</a></h4>
                            </div>
                            <div id="collapse-7" class="panel-collapse collapse"
                                 style="height: auto;">
                                <div class="panel-body">
                                    Wisely currently accepts payment through Visa, MasterCard and all other credit
                                    cards.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion-2"
                                        href="#collapse-8"><i></i>Will I get charged right away?</a></h4>
                            </div>
                            <div id="collapse-8" class="panel-collapse collapse"
                                 style="height: auto;">
                                <div class="panel-body">
                                    No, we will only charge your pledge amount at the end of your course if you do
                                    not complete your goal. You will not be charged any money if you complete your
                                    course. We collect your credit card information upfront to help keep you
                                    motivated.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a
                                        class="accordion-toggle glyphicons circle_question_mark collapsed"
                                        data-toggle="collapse" data-parent="#accordion-2"
                                        href="#collapse-9"><i></i>When can I collect my reward?</a></h4>
                            </div>
                            <div id="collapse-9" class="panel-collapse collapse"
                                 style="height: auto;">
                                <div class="panel-body">
                                    Once your rewards account reaches $10, you can cash in your reward through paypal.
                                    Well done on your hard work! Alternatively, you can continue to let it accumulate
                                    and cash in on various gift cards and prizes from our sponsors. Lastly, once you
                                    accumulate rewards, you have the option to pledge using your reward account instead
                                    of cash.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Tab content END -->

                <!-- Tab content -->
                <div id="tabSupport" class="tab-pane widget-body-regular">
                    <h5>How does Wisely track my progress?</h5>

                    <p>Once you sign into your Coursera account, we will be able to help you track your progress
                        through information we gather from Coursera. Don’t worry, all of your information is secured
                        and will never be shared with anyone.</p>
                </div>
                <!-- // Tab content END -->

            </div>
        </div>
    </div>
    <!-- // Widget END -->

    </div>
{% endblock %}
