{% extends 'base-app-alt.html' %}
{% load breaktag %}
{% load staticfiles %}
{% load breaktag %}
{% block headers_css %}
{% endblock %}
{% block content %}
    <div class="row wide-row">
        <div class="row wide-row panel" style="padding: 5%">
            <h3 style="color: #fff; line-height: 1.5em">
                To welcome you to Wisely, your first successful pledge will
                be guaranteed a $20 reward if you pledge and achieve a goal of 100% in the course.<br>
                Your guaranteed reward will be $10 if you pledge and achieve a goal between 80-100%.<br>
                Your guaranteed reward will be $5 if you pledge and achieve a goal between 60-100%.</h3>
        </div>
        <div class="row wide-row panel" style="padding-top: 3%; margin-top: 1em">
            <div class="row" style="margin: 0 auto">
                <h1 style="color: #fff; margin-left: 2%">What is Wisely?</h1>

                <h2 style="color: #fff; margin-left: 5%">Wisely helps you to meet your personal learning goals on
                    Coursera, edX, and Udemy. Stay
                    on track
                    and
                    get rewards for your hard work.</h2>
            </div>
        </div>
        <div class="row wide-row panel-content" style="color: #333333">
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-globe fa-4x text-faded"></i></div>
                        <h5 class="strong">Connect.</h5>

                        <p>Sign In with your <a href="https://www.coursera.org/">Coursera</a>, <a
                                href="https://www.edx.org/">edX</a>, and <a href="https://www.udemy.com/">Udemy</a>
                            accounts - we will connect
                            all of your active courses for you.</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-pencil fa-4x text-faded"></i></div>
                        <h5 class="strong">Commit.</h5>

                        <p>Make a pledge for each course. Ask yourself, how much will it take for you to stay on
                            track?</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-rocket fa-4x text-faded"></i></div>
                        <h5 class="strong">Get on it!</h5>

                        <p> Time for you to put in the work. Do whatever it takes to reach your goal. Remember, you’ll
                            be rewarded for your hard
                            work.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row panel-content" style="color: #333333">
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-group fa-4x text-faded"></i></div>
                        <h5 class="strong">Follow.</h5>

                        <p>See how you stack up against your friends and online classmates. Invite others to follow you
                            to keep you motivated.</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-thumbs-o-up fa-4x text-faded"></i></div>
                        <h5 class="strong">Reward.</h5>

                        <p>Once the course ends, we collect all of the pledges of students who did not reach their goal,
                            and divide it amongst all those who completed their goal.</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-money fa-4x text-faded"></i></div>
                        <h5 class="strong">Collect.</h5>

                        <p>Once your reward account is over $10, you can cash out through paypal. Enjoy your hard-earned
                            cash!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div style="text-align: center">
            <button id="sign" style="margin: 1em auto 2em">GET STARTED</button>
        </div>
    {% endif %}
    <div id="sign-in" class="light-box-white">
        <div class="row">
            <div class="large-6 columns" style="margin-top: 10px">
                <strong style="font-weight: 400;" id="sign-up-heading">SIGN IN</strong>
            </div>
            <div class="large-6 columns" style="text-align: right">
                <a href="{% url 'socialauth_begin' 'facebook' %}"><img
                        src="{% static 'images/facebook-login.png' %}"></a>
                <a href="{% url 'socialauth_begin' 'twitter' %}"><img src="{% static 'images/twitter-login.png' %}"></a>
                <a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img
                        src="{% static 'images/google-login.png' %}"></a>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 4em">
            <form action="{% url 'users:login' %}" method="post" style="margin-bottom: 0" id="login-form">
                {% csrf_token %}
                <div>
                    <input type="email" name="email" id="login-email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" id="login-password" placeholder="Password">
                </div>
                <div class="centered" style="margin-top: 3em">
                    <div class="row">
                        <div class="large-6 columns">
                            <button type="submit">LOGIN</button>
                        </div>
                        <div class="large-6 columns">
                            <button type="button" id="sign-up">SIGN UP</button>
                        </div>
                    </div>
                </div>
            </form>
            <form action="{% url 'users:sign-up' %}" method="post" style="display: none" id="signup-form">
                {% csrf_token %}
                <div>
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="extra-margin-top">
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="extra-margin-top">
                    <input type="email" name="email" id="signup-email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" id="signup-password" placeholder="Password">
                </div>
                <div class="centered" style="margin-top: 3em">
                    <div class="row">
                        <div class="large-6 columns">
                            <button type="submit">SIGN UP</button>
                        </div>
                        <div class="large-6 columns">
                            <button type="button" id="login-switch">LOGIN</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block additionalScripts %}
    <script>
        $(function () {
            $('#sign').click(function () {
                switch_form();
                $('#sign-in').lightbox_me({centered: true});
                $('.lb_overlay').css('top', '-100px', 'important');
            });


            function switch_form() {
                $('form', '#sign-in').hide();
                $('#sign-up-heading').text('SIGN UP');
                $('#signup-email').val($('login-email').val());
                $('#signup-password').val($('login-password').val());
                $('#signup-form').show();
            }

            function switch_form_login() {
                $('form', '#sign-in').hide();
                $('#sign-up-heading').text('SIGN IN');
                $('login-email').val($('#signup-email').val());
                $('login-password').val($('#signup-password').val());
                $('#login-form').show();
            }

            $('#sign-up').click(function () {
                switch_form();
            });
            $('#login-switch').click(function () {
                switch_form_login();
            });

            $('.login').click(function () {
                switch_form_login();
                $('#sign-in').lightbox_me({centered: true});
                $('.lb_overlay').css('top', '-100px', 'important');
            });
        });
    </script>
{% endblock %}