{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block nav-bar %}
    <li class=""><a href="{% url 'users:index' %}"><i class="fa fa-book"></i><span>Dashboard</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:index' %}"><i
            class="fa fa-book"></i><span>Pledges</span></a>
    </li>
    <li class=""><a href="/more"><i
            class="fa fa-book"></i><span>More Coming Soon!</span></a>
    </li>
{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1 class="separator bottom">What is Wisely?</h1>

        <h2 class="heading">Wisely helps you to meet your personal learning goals on Coursera. Stay on track and
            get rewards for your hard work.</h2>

        <div class="row extra-top-margin">
            <div class="large-12 columns">
                <iframe width="800" height="459"
                        src="http://www.wideo.co/embed/2193141392451607407?height=439&width=799" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="row extra-top-margin">
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-globe fa-4x text-faded"></i></div>
                        <h5 class="strong">Connect.</h5>

                        <p>Sign In with your <a href="https://www.coursera.org/">Coursera</a> account - we will connect
                            all of your active courses for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-pencil fa-4x text-faded"></i></div>
                        <h5 class="strong">Commit.</h5>

                        <p>Make a pledge for each course. Ask yourself, how much will it take for you to stay on
                            track?</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-rocket fa-4x text-faded"></i></div>
                        <h5 class="strong">Get on it!</h5>

                        <p> Time for you to put in the work. Do whatever it takes to reach your goal. Remember, you’ll
                            be rewarded for your hard
                            work.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-group fa-4x text-faded"></i></div>
                        <h5 class="strong">Follow.</h5>

                        <p>See how you stack up against your friends and online classmates. Invite others to follow you
                            to keep you motivated.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-thumbs-o-up fa-4x text-faded"></i></div>
                        <h5 class="strong">Reward.</h5>

                        <p>Once the course ends, we collect all of the pledges of students who did not reach their goal,
                            and divide it amongst all those who completed their goal.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-money fa-4x text-faded"></i></div>
                        <h5 class="strong">Collect.</h5>

                        <p>Once your reward account is over $10, you can cash out through paypal. Enjoy your hard-earned
                            cash!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row extra-top-margin text-center">
            {% if user.is_authenticated %}
                {% if 'onboarding' in request.session %}
                    <a href="{% url 'pledges:create' %}">
                        <button class="btn btn-primary btn-lg">Back to Creating Pledge</button>
                    </a>
                {% else %}
                    <a href="/faq">
                        <button class="btn btn-primary btn-lg">FAQ</button>
                    </a>
                {% endif %}
            {% else %}
                <button id='sign' class="btn btn-primary btn-lg">Sign Up</button>
            {% endif %}
        </div>
    </div>
    <div id="sign-up" class="light-box">
        <div class="row text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}">
                    Sign Up with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}">
                    Sign Up with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="#">
                    Sign Up with <b>Google</b>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <form action="{% url 'users:sign-up' %}" method="post">
                {% csrf_token %}
                <div class="row extra-top-margin">
                    <input type="text" name="first_name" placeholder="First Name" class="form-control">
                </div>
                <div class="row extra-top-margin">
                    <input type="text" name="last_name" placeholder="Last Name" class="form-control">
                </div>
                <div class="row extra-top-margin">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="row extra-top-margin">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <div class="row tex-center extra-top-margin">
                    <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script>
        $('#sign').click(function () {
            $('#sign-up').lightbox_me({centered: true});
        });
    </script>
{% endblock %}
