{% extends 'base-app-alt.html' %}
{% load breaktag %}
{% load staticfiles %}
{% load breaktag %}
{% block headers_css %}
{% endblock %}
{% block content %}
    <div class="row wide-row">
        <div class="row wide-row panel" style="padding-top: 3%">
            <div class="row" style="margin: 0 auto">
                <h1 style="color: #333333">What is Wisely?</h1>

                <h2 style="color: #fff; margin-left: 5%">Wisely helps you to meet your personal learning goals on
                    Coursera and edX. Stay
                    on track
                    and
                    get rewards for your hard work.</h2>
            </div>
        </div>
        <div class="row wide-row panel-content" style="color: #333333">
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-globe fa-4x text-faded"></i></div>
                        <h5 class="strong">Connect.</h5>

                        <p>Sign In with your <a href="https://www.coursera.org/">Coursera</a> or <a
                                href="https://www.edx.org/">edX</a> account - we will connect
                            all of your active courses for you.</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-pencil fa-4x text-faded"></i></div>
                        <h5 class="strong">Commit.</h5>

                        <p>Make a pledge for each course. Ask yourself, how much will it take for you to stay on
                            track?</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-rocket fa-4x text-faded"></i></div>
                        <h5 class="strong">Get on it!</h5>

                        <p> Time for you to put in the work. Do whatever it takes to reach your goal. Remember, you’ll
                            be rewarded for your hard
                            work.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row panel-content" style="color: #333333">
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-group fa-4x text-faded"></i></div>
                        <h5 class="strong">Follow.</h5>

                        <p>See how you stack up against your friends and online classmates. Invite others to follow you
                            to keep you motivated.</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-thumbs-o-up fa-4x text-faded"></i></div>
                        <h5 class="strong">Reward.</h5>

                        <p>Once the course ends, we collect all of the pledges of students who did not reach their goal,
                            and divide it amongst all those who completed their goal.</p>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-money fa-4x text-faded"></i></div>
                        <h5 class="strong">Collect.</h5>

                        <p>Once your reward account is over $10, you can cash out through paypal. Enjoy your hard-earned
                            cash!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="login-up" class="light-box">
        <div class="row text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}"
                   onclick="document.getElementById('fb_pixel').setAttribute('class', 'fb_pixel_signup');">
                    Login with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}"
                   onclick="document.getElementById('fb_pixel').setAttribute('class', 'fb_pixel_signup');">
                    Login with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="{% url 'socialauth_begin' 'google-oauth2' %}"
                   onclick="document.getElementById('fb_pixel').setAttribute('class', 'fb_pixel_signup');">
                    Login with <b>Google</b>
                </a>
            </div>
        </div>
        <hr>
        <div class="row text-center" style="margin-top: 1em">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block additionalScripts %}
    <script>
        $(function () {
            $('.login').click(function () {
                $('#login-up').lightbox_me({centered: true});
                $('.lb_overlay').css('top', '-100px', 'important');
            });
        });
    </script>
{% endblock %}