{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row main-interface learn-more">
        <div class="row extra-top-margin">
            <div class="large-6 large-push-1 columns">
                <h2>What is Wisely?</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-push-2 columns">
                <h3>Wisely incentivizes you to meet your personal learning goals on Coursera. Stay on track and get
                    rewarded for your hard work.</h3>
            </div>
        </div>
        <div class="row collapse extra-top-margin">
            <div class="large-10 large-centered push-1 columns">
                <div class="large-4 text-left columns">
                    <div class="fa fa-5x fa-keyboard-o"></div>
                    <p>Connect</p>

                    <p>Sign In with your Coursera account - we will get all of your active courses for you.</p>
                </div>
                <div class="large-4 text-left columns">
                    <div class="fa fa-5x fa-certificate"></div>
                    <p>Commit.</p>

                    <p>Make a pledge for each course. Ask yourself, how much will it take for you to stay on track?</p>
                </div>
                <div class="large-4 text-left columns">
                    <div class="fa fa-5x fa-pencil-square-o"></div>
                    <p>Get on it!</p>

                    <p>Time for you to put in the work. Be sure to complete all assignments & quizzes by
                        the course deadlines for it to count.</p>
                </div>
            </div>
        </div>
        <div class="row collapse extra-top-margin">
            <div class="large-10 large-centered push-1 columns">
                <div class="large-4 text-left columns">
                    <div class="fa fa-5x fa-group"></div>
                    <p>Follow.</p>

                    <p>See how you stack up against your friends and online classmates. Invite others to follow
                        you to keep you motivated.
                    </p>
                </div>
                <div class="large-4 text-left columns">
                    <div class="fa fa-5x fa-thumbs-o-up"></div>
                    <p>Reward</p>

                    <p>Once the course ends, we collect all of the pledges of students who did not reach their goal, and
                        split it amongst all those who completed their goal.</p>
                </div>
                <div class="large-4 text-left columns">
                    <div class="fa fa-5x fa-money"></div>
                    <p>Collect</p>

                    <p>Once your reward account is over $10, you can cash out through paypal. Enjoy your hard-earned
                        cash!</p>
                </div>
            </div>
        </div>
        <div class="row extra-top-margin text-center">
            {% if user.is_authenticated %}
                {% if 'onboarding' in request.session %}
                    <a href="{% url 'pledges:create' %}">
                        <button class="other-button">Back to Creating Pledge</button>
                    </a>
                {% else %}
                    <a href="/faq">
                        <button class="other-button">FAQ</button>
                    </a>
                {% endif %}
            {% else %}
                <button id='sign' class="other-button">Sign Up</button>
            {% endif %}
        </div>
    </div>
    <div id="sign-up" class="light-box">
        <div class="row text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}">
                    Sign Up with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}">
                    Sign Up with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="#">
                    Sign Up with <b>Google</b>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <form action="{% url 'users:sign-up' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="extra-margin-top">
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="extra-margin-top">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
