{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block nav-bar %}
    <li class=""><a href="{% url 'users:index' %}"><i class="fa fa-book"></i><span>Dashboard</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:index' %}"><i
            class="fa fa-book"></i><span>Pledges</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:list_rewards' %}"><i
            class="fa fa-money"></i><span>Rewards</span></a>
    </li>
    <li class="active"><a href="/more"><i
            class="fa fa-book"></i><span>More Coming Soon!</span></a>
    </li>
{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1 class="separator bottom">Exciting New Features</h1>

        <h2 class="heading">Here are some new features that are currently in the works. Stay Tuned for More!</h2>

        <div class="row extra-top-margin centered">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-users fa-4x text-faded"></i></div>
                        <h5 class="strong">Study Rooms.</h5>

                        <p>Live interactive study rooms with the online tools you need to connect and collaborate with
                            your Coursera classmates</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row extra-top-margin centered">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-certificate fa-4x text-faded"></i></div>
                        <h5 class="strong">Verified by Wisely.</h5>

                        <p>Showcase your Wisely-verified Cousera courses in a professional & elegant portfolio</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row extra-top-margin centered">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <div class="innerTB">
                        <div class="innerAll"><i class="fa fa-user fa-4x text-faded"></i></div>
                        <h5 class="strong">Online Tutoring</h5>

                        <p>Connect with subject-matter experts to help you survive your Coursera courses.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row extra-top-margin text-center">
            {% if user.is_authenticated %}
                {% if 'onboarding' in request.session %}
                    <a href="{% url 'pledges:create' %}">
                        <button class="btn btn-primary btn-lg">Back to Creating Pledge</button>
                    </a>
                {% else %}
                    <a href="/faq">
                        <button class="btn btn-primary btn-lg">FAQ</button>
                    </a>
                {% endif %}
            {% else %}
                <button id='sign' class="btn btn-primary btn-lg">Sign Up</button>
            {% endif %}
        </div>
    </div>
    <div id="sign-up" class="light-box">
        <div class="row text-center">
            <div>
                <a class="btn-auth btn-facebook large" href="{% url 'socialauth_begin' 'facebook' %}">
                    Sign Up with <b>Facebook</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-twitter large" href="{% url 'socialauth_begin' 'twitter' %}">
                    Sign Up with <b>Twitter</b>
                </a>
            </div>
            <div class="extra-top-small-margin">
                <a class="btn-auth btn-google large" href="#">
                    Sign Up with <b>Google</b>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <form action="{% url 'users:sign-up' %}" method="post">
                {% csrf_token %}
                <div class="row extra-top-margin">
                    <input type="text" name="first_name" placeholder="First Name" class="form-control">
                </div>
                <div class="row extra-top-margin">
                    <input type="text" name="last_name" placeholder="Last Name" class="form-control">
                </div>
                <div class="row extra-top-margin">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="row extra-top-margin">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <div class="row tex-center extra-top-margin">
                    <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script>
        $('#sign').click(function () {
            $('#sign-up').lightbox_me({centered: true});
        });
    </script>
{% endblock %}
