{% load staticfiles %}
{% if user.is_authenticated %}
    <nav class="top-bar bottom-border" data-topbar>
        <div class="top-bar-inner">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <h1>
                        <a href="{% url 'users:index' %}" style="margin-top: 2px">
                            <img alt="Wisely" src="{% static 'images/logo.png' %}"/>
                        </a>
                    </h1>
                </li>
            </ul>


            <div class="right">
                <a href="/faq">
                    <i class="fa fa-question"></i><button class="login-button alt-learn">FAQ</button>
                </a>
                <a href="/learn-more">
                    <i class="fa fa-star"></i><button class="login-button alt-learn">Learn More</button>
                </a>
                <a href="#" data-dropdown="drop"
                   class="login-button dropdown">Welcome {{ user.first_name }} {{ user.last_name }}! &nbsp; <i
                        class="fa fa-caret-down"></i></a><br>
                <ul id="drop" data-dropdown-content class="f-dropdown f-dropdown-logged">
                    <li><a href="{% url 'users:index' %}">Main Page</a></li>
                    <li><a href="{% url 'users:profile' %}">Profile</a></li>
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="top-bar bottom-border" data-topbar>
        <div class="top-bar-inner">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <h1>
                        <a href="/" style="margin-top: 2px">
                            <img alt="Wisely" src="{% static 'images/logo.png' %}"/>
                        </a>
                    </h1>
                </li>
            </ul>


            <div class="right">
                <a href="/faq">
                    <i class="fa fa-question"></i><button class="login-button alt-learn">FAQ</button>
                </a>
                <a href="/learn-more">
                    <i class="fa fa-star"></i><button class="login-button alt-learn">Learn More</button>
                </a>
                <a href="#" data-dropdown="drop" class="login-button dropdown">Log In &nbsp; <i
                        class="fa fa-caret-down"></i></a><br>
                <ul id="drop" data-dropdown-content class="f-dropdown">
                    <li><a href="{% url 'socialauth_begin' 'facebook' %}">Facebook</a></li>
                    <li><a href="{% url 'socialauth_begin' 'twitter' %}">Twitter</a></li>
                    <li><a id="login" href="#">Email</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}