{% extends 'base-app-alt.html' %}
{% block content %}
    <div class="row">
    <h3>Wisely Privacy Policy</h3><br/>

    <h2 style="color: #000">WHAT IS COVERED IN THIS POLICY:</h2><br/>

    <p>This policy describes how we handle both &ldquo;Personally Identifiable Information&rdquo; and &ldquo;Non-Personally
        Identifiable Information&rdquo;. &quot;Non-Personally Identifiable Information&quot; is information that
        cannot
        be used to identify you. You can use some of our Site's functionality without revealing your personal
        information. An example of this is visiting our Site without logging in and browsing for needs.<br/>
        &ldquo;Personally Identifiable Information&rdquo;, on the other hand, is information such as your name or
        contact information that can identify you. Features or services related to creating user profiles and
        creating
        or participating in Organizational Needs, Course Projects or any related functionality, for example, require
        your personal information. It is possible to personally identify you when you use these features or
        services.<br/>
        You are responsible for ensuring that the Personally Identifiable Information that you provide to Wisely is
        accurate. Inaccurate information may affect your ability to use the Site, the information you receive when
        using
        the Site, and our ability to get in touch with you. For example, your email address should be kept current
        because that is one way in which we can get in touch with you.<br/></p>

    <h2 style="color: #000">WHAT YOU CONSENT TO WHEN USING OUR SITE:</h2><br/>

    <p>When you submit any Personally Identifiable Information to us, you consent and agree that we may collect,
        use,
        and/or share such information as per this Privacy Policy and our Terms of Use, and as required or permitted
        by
        law. If you do not agree with these terms, we request that you do not provide any Personally Identifiable
        Information to us. If you refuse or take away your consent, or if you decide not to provide us with
        Personally
        Identifiable Information, we may not be able to offer our Site&rsquo;s services to you.<br/></p>

    <h2 style="color: #000">WHAT INFORMATION WE COLLECT:</h2><br/>

    <p>There are two types of information we collect about users through the Site:<br/>
        Non-Personal Information: When users visit our Site, we may take notice of, collect and aggregate. <br>
        Non-Personal
        Information indicating, among other things, which pages of our Site were visited, how frequently they were
        visited, the order in which they were visited, at what time of day they were visited, and which hyperlinks
        or
        buttons were &quot;clicked.&quot; We also collect information from the URLs from which you navigated to our
        Site. Collecting such information may involve storing, among other things, the IP address and browser
        software
        used by users of our Site. It is important to note that while such information may not be Personally
        Identifiable Information per se, we may be able to determine from an IP address a user's Internet Service
        Provider and the physical location from where he or she is connecting. We also use or may use cookies and/or
        web
        beacons to help determine and identify repeat visitors, the type of content and sites to which users of our
        Site
        link, the amount of time each user spends in particular areas of our Site, and the specific features,
        functionalities and/or services that users decide to use. Cookies can be thought of as a user's
        identification card for Wisely&rsquo;s servers. Web beacons are small graphic files linked to Wisely&rsquo;s
        servers
        that
        allow us to track your use of our Site and related features, functionalities, and/or services. Cookies and web
        beacons, together, enable Wisely to serve you better and more efficiently, and to provide you with a more
        personal experience on our Site. Cookies and web beacons, however, are not used to retain Personally
        Identifiable Information. Please note that we may also use additional typical methods of collecting data.
        Please also note that you are able to control whether and how your web browser accepts cookies. Most browsers
        provide instructions on how to reset the browser to reject cookies via &quot;Help&quot; menus. However, please
        note
        that if you reject our cookies, many functions and conveniences of this Site may not work properly.<br/>
        Personally Identifiable Information: We collect Personally Identifiable Information that you provide to us
        when you, among other things, create an account, post or participate in an Organizational Need or Course
        Project,
        request email updates, participate in other parts of our Site, send us email messages, or partake in our
        Site&rsquo;s other services. Among other things, we may use the Personally Identifiable Information that you
        provide
        to
        respond to your questions, provide you the specific information on Course Projects, Organizational Needs, or
        other services that you select, send you updates about other Wisely opportunities and events, and send you
        email messages about Site maintenance or updates.<br/></p>

    <h2 style="color: #000">Participation in Pledging</h2><br/>

    <p>In order to use Wisely&rsquo;s Pledging model for motivation, we require that you provide us with access to
        your Massive Open Online Course provider account information. We ask that you log in with your credentials to
        these MOOC servers. By providing us with these credentials, you are expressing permission for Wisely to access
        information that is pertinent to tracking your progress and achievement in the course. This information can
        include, but is not limited to: grades achieved in current and past courses, any other forms of feedback,
        status of completion of any &ldquo;Verified Certificates&rdquo;. This information is collected only for the
        purpose
        of verifying your progress to assess your eligibility for rewards as per Wisely&rsquo;s Terms &amp; Agreements
        as well as to assist us in developing tracking tools to help organize your progress.<br/>
        Participation in Online Social Spaces:<br/>
        In order to participate in these Online Social Spaces, you may be required to register with us and/or
        provide us with Personally Identifiable Information such as your name and email address. Personally Identifiable
        Information shall not include any information posted or sent by or to you via any Social Space.<br/></p>

    <h2 style="color: #000">Participation in Forums:</h2><br/>

    <p>Wisely may offer public or private forums (the &quot;Forums&quot;) where you can share your comments and
        thoughts. In order to participate in these Forums, you may be required to register with us and/or provide us
        with Personally Identifiable Information such as your name and email address. Personally Identifiable
        Information shall not include any information posted or sent by or to you via any public or private
        Forum.<br/>
        Updates:<br/>
        Wisely may enable you to receive updates via email, posting on portions of the Site only accessible to
        registered users, etc. In order to subscribe to these updates, you may be required to provide us with
        Personally
        Identifiable Information such as your name and email address. You will be able to disable these
        notifications by
        editing your account settings.<br/></p>

    <h2 style="color: #000">Communications with Wisely:</h2><br/>

    <p>We may receive Personally Identifiable Information when you contact us (including, but not limited to, when
        you
        send us an email message).<br/>
        Third-Party Sites:<br/>
        We may receive Personally Identifiable Information when you access or log in to a third-party site from our
        Site or into our Site via such third-party sites. This may include details of your Personally Identifiable
        Information available from the third party site.<br/>
        Partner sites providing related tools and services to Wisely users may collect individual level user data
        regarding the individual&rsquo;s use of that partner site while engaged with such related activities. The
        partner sites may share that data with Wisely for the purposes of improving Wisely&rsquo;s services and/or
        the partner site&rsquo;s services. This data could include, but will not necessarily be limited to, information
        such as the amount of time spent on the partner site and pages viewed. The privacy policies of such sites govern
        their use.<br/></p>

    <h2 style="color: #000">HOW WE USE THE INFORMATION WE COLLECT:</h2><br/>

    <p>We request that you take some time to familiarize yourself with the ways Wisely uses the information
        gathered:<br/>
        Non-Personal Information: We use Non-Personal Information to improve the quality of our services. Examples
        of how we use Non-Personal Information include performing statistical analyses of the aggregate characteristics
        and behaviors of our users, identifying demographical information, user preferences, and other business and
        educational purposes.<br/>
        Personally Identifiable Information: Except as set forth in this Privacy Policy or as specifically agreed to
        by you, Wisely will not disclose any Personally Identifiable Information gathered from you on the Site. Please
        note that your name, email address, records of participation in courses, pledges, and credentials awarded for
        participation will, among other things, by default, be visible on your user profile to members of the Wisely
        community but restricted to anonymous users. You will have the option of disabling visibility into these
        pieces of information through your account settings options. In addition to the other uses set forth in this
        Privacy Policy, we may disclose and otherwise use Personally Identifiable Information as described below. We may
        also use it for research and business purposes. Records of your participation on the Site may be used for
        research into collaboration, motivation, online education, problem solving, and other domains. In the interests
        of
        this research, you may be exposed to slight variations in user experience that will not substantially alter your
        problem solving involvement. All research findings will be reported at the aggregate level and will not
        expose your personal identity, although researchers may have access to personally identifying information
        throughout their investigations.<br/>
        Participation in Pledges:<br/>
        We use the Personally Identifiable Information that we collect from you when you participate in a Pledge for
        processing purposes, including but not limited to tracking progress and completion of courses. We may also
        share your Personally Identifiable Information and your performance in a given course with the administrators or
        instructor(s) of the course and with the institution or institutions with which they are affiliated. Also,
        we may archive this information and/or use it for future communications with you.<br/>
        Participation in Online Social Spaces:<br/>
        To facilitate your usage of Online Social Spaces, we use Personally Identifiable Information collected
        during your use of Online Social Spaces. We reserve the right to reuse information posted in Online Social
        Spaces
        containing Personally Identifiable Information in future updates of our Site or disseminate information
        posted in Social Spaces as per what is stated in our Terms of Service. We may archive this information and/or
        use
        it for future communications with you and/or your designee(s). We may also use or publish material submitted on
        the Social Spaces without using Personally Identifying Information.<br/>
        Participation in Forums:<br/>
        To facilitate your usage of the public or private Forums, we use Personally Identifiable Information
        collected during your use of these Forums. In addition, we may publish this information via extensions of our
        platform
        that make use of third-party services, which can include but are not limited to, mobile applications. We
        reserve the right to reuse Forum posts containing Personally Identifiable Information in future updates of our
        Site.
        We may archive this information and/or use it for future communications with you and/or your designee(s). We
        may also use or publish material submitted on the forums without using Personally Identifying Information.<br/>
        Updates:<br/>
        We use Personally Identifiable Information collected when you ask to be included on our various email or
        update services to send you messages related to the Site, Pledges, Social updates or third-party services that
        you
        opt into where applicable. We may also archive this information and/or use it for future communications with
        you.<br/>
        Communications with Wisely:<br/>
        When you contact us (e.g, via email or otherwise), we may use the information provided by you to respond to
        your communication and/or as described in this Privacy Policy. We may also archive this information and/or use
        it
        for future communications with you.<br/>
        Communications with Wisely Business Partners:<br/>
        We may share your Personally Identifiable Information with current or future Wisely business partners to
        receive communications from such parties that you have opted to receive communications from. You can, at any
        point,
        opt out of these communications by modifying your account settings.<br/>
        Disclosure to Wisely Operations/Maintenance Contractors:<br/>
        From time-to-time, our operations/maintenance contractors may have access to your Personally Identifiable
        Information while providing products or services to us. These contractors may include, but are not limited
        to, vendors and/or suppliers that provide us with technology, services, and/or content related to the operation
        and maintenance of our Site. Access to your Personally Identifiable Information by these contractors is limited
        to what is reasonably required for the contractor to perform its duties for us.<br/>
        Legal Rights, Government Authorities, and Actions:<br/>
        Wisely may share your Personally Identifiable Information with government authorities in response to court
        orders, subpoenas, or other legal processes; to defend against legal claims; to establish or exercise our
        legal rights or to protect our property; or as otherwise required by law. In these cases we reserve the right to
        waive or raise legal objections or rights available to us. We may also share your Personally Identifiable
        Information when we believe it is appropriate or necessary to investigate, prevent, or take action regarding
        illegal or
        suspected illegal activities; to protect and defend the rights, property, or safety of Wisely, the Site, our
        users, partners, customers, or others; and in connection with our Terms of Use and other agreements.<br/>
        Disclosure to Acquirers:<br/>
        In connection with a sale, merger, or reorganization of all or the majority of all the equity, business or
        assets of Wisely to which your Personally Identifiable Information relates, Wisely may disclose and/or
        transfer such Personally Identifiable Information to an acquirer, assignee or other successor entity.<br/>
        EXTERNAL LINKS:<br/>
        To serve you better, we may provide links to sites operated by organizations other than Wisely(&quot;Third
        Party
        Sites&quot;) that we believe may be of interest to you. We do not and will not disclose your Personally
        Identifiable Information to these Third Party Sites without obtaining your consent. Please note, however,
        that we do not endorse and cannot be held responsible for the privacy practices of these Third Party Sites. If
        you decide to click on a link to one of these Third Party Sites, you should review the relevant privacy policies
        posted on these other sites to understand how these third party sites collect and use your Personally
        Identifiable Information.<br/>
        UPDATING OR DELETING YOUR PERSONALLY IDENTIFIABLE INFORMATION:<br/>
        We maintain a procedure to help you confirm that your Personally Identifiable Information remains correct
        and up-to-date or choose whether you wish to receive material from us or from one or more of our partners.
        However, you may also update your Personally Identifiable Information by logging into the Site and visiting your
        user profile or account settings pages. You may also contact us via contact@projectwisely.com. We aim to respond
        to every email promptly. Please note, however, that there will be residual information that will remain within
        our hardware, databases, access logs and other records, which may or may not contain your Personally
        Identifiable Information. If you have any privacy-related questions or unresolved problems, you may contact us
        via contact@projectwisely.com.<br/>
        CONFIDENTIALITY AND SECURITY OF PERSONALLY IDENTIFIABLE INFORMATION:<br/>
        The security and confidentiality of your information is treated with our utmost care and importance. We will
        use commercially reasonable efforts to keep your Personally Identifiable Information private and will not share
        your personally identifiable information with third parties, except as otherwise provided in this Privacy
        Policy, or unless we have good faith belief that such disclosure is warranted in special cases, such as a physical
        threat to you or others. Wisely takes reasonable measures to protect your Personally Identifiable Information
        from disclosure to or access by third parties. Please note that we do not guarantee the security of Personally
        Identifiable Information, and risks exist, however remote, that unauthorized third parties may find ways to
        circumvent our security systems or that transmission of your information over the Internet will be
        intercepted.<br/>
        CHANGES TO OUR PRIVACY POLICY:<br/>
        Please note that we periodically review our privacy practices and that these practices are subject to
        change. Any changes, updates, or modifications will be effective immediately upon them being posted on our Site. We
        will notify you of material changes to this Privacy Policy by changing the effective date (located at the bottom
        of this page). Please be sure to periodically return to this page to ensure familiarity with the most current
        version of this Privacy Policy.<br/></p>

    <h2 style="color: #000">PROTECTING CHILDREN'S PRIVACY:</h2><br/>

    <p>Wisely strongly believes in protecting the privacy of children. Consistent with this belief, we do not
        knowingly collect or maintain Personally Identifiable Information on our Site from persons under 13 years of
        age, and no part of our Site is directed to persons under 13 years of age. If you are under 13 years of age, then please
        do not use or access this Site at any time or in any manner. We will take appropriate steps to delete any
        Personally Identifiable Information of persons under 13 years of age that has been collected on our Site
        without verified parental consent upon learning of the existence of such Personally Identifiable
        Information.<br/>
    </p>
    </div>
{% endblock %}