.tabs dd:hover {
    background: #fff;
}

.tabs dd:hover:not(.active) > a {
    background: #fff;
    border-left: solid #80BC62 1rem;
}

.tabs dd > a {
    background: #F0F1F4;
    border: none;
    padding: 2rem 2rem 2rem 3rem;
}

.tabs dd.active > a {
    background: #fff;
    color: #565557;
}

.tabs dd {
    background: #F0F1F4;
}

.tabs dd.active {
    background: #fff;
}

.meter {
    width: 30%;
    height: 20px; /* Can be anything */
    position: relative;
    background: #fff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.metrics.score {
    background-color: #F15A29;
    top: 0;
    position: absolute;
}

.metrics.goal {
    background-color: #3C3F50;
    top: 0;
    position: absolute;
    left: 33%;
}

.metrics.goal img {
    margin-top: 7px;
}

.metrics {
    width: 33%;
    padding: 2%;
    text-align: center;
    height: 100%;
    color: #fff;
    border: solid #EBECED 1px;
    font-size: 0;
    display: table;
}

.metrics p {
    display: table-cell;
    margin-bottom: 0;
    font-size: 1.2rem;
    vertical-align: middle;
}

.metrics img {
    display: inline;
    vertical-align: middle;
}

.metrics.pledge {
    background-color: #80BC62;
    top: 0;
    position: absolute;
    left: 66%;
}

.meter > span {
    display: inline-block;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(128, 188, 98);
    position: relative;
    overflow: hidden;
}

.green {
    color: rgb(128, 188, 98);
}

.overall-mark {
    font-size: 2rem;
    font-family: "Lovelo", serif;
}

.orange {
    color: #F7941E;
}

.red {
    color: #f0a3a3;
}

.tabs dd.active .meter {
    background: #F0F1F4;
}

.orange > span {
    background-color: #F7941E;
}

.red > span {
    background-color: #f0a3a3;
}

.gray > span {
    background-color: #CACACA;
}

.summary-courses {
    background-color: #F0F1F4;
    color: #0E486D;
    padding: 1%;
    text-align: center;
    padding-bottom: 10px;
}

.summary-courses p {
    margin-bottom: 0;
}

.number-bold {
    font-family: 'Lovelo', serif;
    font-size: 1.5rem;
}

.class-progress strong {
    font-size: 1rem;
}

.class-progress dd a {
    border-left: solid #80BC62 1rem;
}

.course.active a {
    background-color: #80BC62;
}

.course a {
    min-height: 7em;
}

#class-title p, #share-title p {
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Lovelo', serif;
}

#pledge-box .ui-slider {
    margin-top: 1em;
    margin-bottom: 1em;
}

#goal-slider .ui-slider-range {
    background: #F66B00;
}

#pledge-slider .ui-slider-range {
    background: #79CDEB;
}

#pledge-box .ui-slider .ui-slider-range {
    border-radius: 0;
}

#pledge-box .ui-slider.ui-slider-horizontal {
    border-radius: 0;
    border: none;
    height: 0.5em;
}

#pledge-box .ui-slider .ui-slider-handle {
    width: 0.5em;
    background: #fff;
    border: none;
    border-radius: 0;
    height: 1.6em;
    top: -0.5em;
    margin-left: -0.5em;
}

#goal-value {
    font-size: 1.5rem;
    font-family: "lovelo", serif;
    color: #F66B00;
    text-align: center;
}

#pledge-value {
    font-size: 1.5rem;
    font-family: "lovelo", serif;
    color: #79CDEB;
    text-align: center;
}

.light-box button, .light-box .button {
    margin-top: 1em;
}

.summary {
    background: #fff;
    padding: 0.5em;
    margin-bottom: 1em;
}

.summary p {
    font-size: 0.8rem;
}

.summary p#number_pledges {
    color: #63A789;
    font-weight: 700;
    font-size: 1.4rem;
}

.summary p#avg_aim {
    color: #0F486D;
    font-weight: 700;
    font-size: 1.4rem;
}

.summary p#probable_reward {
    color: #79CDEB;
    font-weight: 700;
    font-size: 1.4rem;
}