html {
    font-size: 62.5%;
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

html {
    font-family: 'Lato', sans-serif;
}

.top-cover {
    background: url(../images/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
}

.lower-cover {
    background: #EFEEED;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}

.third img {
    display: block;
    margin: 0 auto 20px;
}

.lower-cover .inner {
    margin: 0 auto;
    width: 1200px;
    display: inline;
    padding-top: 20px;
}

.inner .third {
    vertical-align: middle;
    width: 33%;
    display: table-cell;
}

.third .content {
    padding: 20px;
    font-size: 2rem;
}

.lower-cover ul {
    list-style: none;
}

.lower-cover li {
    position: absolute;
    width: 260px;
    margin-right: 2%;
    display: list-item;
    text-align: -webkit-match-parent;
}

.bottom-cover {
    background: url(../images/bg-footer.png) repeat-x top center #fff;
    text-align: center;
    min-height: 100px;
    padding-top: 25px;
}

.bottom-cover h1 {
    font-size: 46px;
    line-height: 100px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, serif;
}

.title {
    font-weight: bold;
    color: #EFECCA;
    margin: 50px auto auto;
    text-align: center;
    background: rgba(103, 188, 219, 0.85);
    border-radius: 10px;
    max-width: 800px;
    padding: 10px 15px 50px;
    top: 60px;
    position: relative;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h2 {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

@media only screen
and (max-width: 480px) {
    .title {
        width: 300px;
        top: 60px;
        position: relative;
        bottom: inherit;
        right: inherit;
        max-height: inherit;
        padding: inherit;
        margin: 50px auto 0;
        display: block;
    }

    h1 {
        font-size: 3rem;
    }

    .subtitle {
        width: 300px;
    }

    input[type=text] {
        width: 100px;
    }

    .inner .third {
        width: 100%;
        display: inline-block;
    }

    button {
        margin-top: 10px;
    }
}

/* Landscape phone to portrait tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .title {
        width: 480px;
        top: 60px;
        position: relative;
        bottom: inherit;
        right: inherit;
        max-height: inherit;
        padding: inherit;
        margin: 50px auto 0;
        text-align: center;
    }

    .inner .third {
        width: 100%;
        display: inline-block;
    }

    h1 {
        font-size: 3rem;
    }

    .subtitle {
        width: 480px;
    }

    input[type=text] {
        width: 100px;
    }

    button {
        margin-top: 10px;
    }
}

.subtitle {
    margin: 2rem auto 0;
    max-width: 600px;
    color: #060606;
}

input[type=text], input[type=password], input[type=email] {
    margin: 0 auto;
    border: none;
    height: 40px;
    padding: 5px 5px 5px 15px;
    font-size: 2.5rem;
    border-radius: 10px;
}

button {
    background: #E44424;
    border: none;
    height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    border-bottom: #002F2F 3px solid;
    padding: 10px 40px;
}

button.button-small {
    background: #E44424;
    border: none;
    height: 30px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    border-bottom: #002F2F 3px solid;
    padding: 2px 40px;
}


.unimportant {
    margin-top: 15px;
    color: lightblue;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.validation {
    font-style: italic
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.middle-cover {
    background-color: #95A6C7;
    min-height: 400px;
}

.light-box {
    background-color: #E0EAF1;
    display: none;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.border-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    background: #E44424;
    padding: 10px;
    font-size: 2rem;
    color: #FFFFFF;
}

#close_x {
    width: 24px;
    height: 23px;
    overflow: hidden;
    line-height: 1000px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: -387px -102px;
}

.sprited {
    background: url(../images/download_sprite.png) no-repeat;
    line-height: 1000px;
    overflow: hidden;
    display: block;
}

.light-box .row {
    padding: 20px;
}

.extra-margin-top {
    margin-top: 10px;
}

.sign-up-button {
    background: #A7A37E;
    border-bottom: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.larger-font {
    font-size: 2rem;
}

.btn-auth {
    width: 80% !important;
}

hr {
    width: 85%;
    border-width: 2px;
}