.timeline {
    list-style: none;
    margin: 50px 0 30px 50px;
    padding-left: 50px;
    border-left: 3px solid #D2D4D5;
}

.timeline li {
    margin: 40px 0;
    position: relative;
}

.timeline p {
    margin: 0 0 15px;
}

span.circle {
    left: -76px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    position: absolute;
    overflow: hidden;
}

.content-news {
    max-height: 30px;
    padding: 10px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    background: #fff;
    position: relative;
}

.content-news:before, .content-news:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.content-news:before {
    border-right-color: inherit;
    border-width: 15px;
    background: transparent;
    top: 0;
    margin-top: 10px;
}

.content-news:after {
    border-width: 15px;
    top: 0;
    background: transparent;
    margin-top: -17px;
}

.content-news p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
}

label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
}

.radio {
    display: none;
}

.radio:checked + .relative label {
    cursor: auto;
    transform: translateX(42px);
}

.radio:checked + .relative .circle {
    border: solid #000;
}

.radio:checked ~ .content-news {
    max-height: 180px;
    border-color: #D2D4D5;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.radio:checked ~ .content-news p {
    max-height: 200px;
    color: #000;
    transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
    .timeline {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    .timeline li {
        margin: 50px 0;
    }

    label {
        width: 85%;
        font-size: 1.1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        transform: translateX(18px);
    }

    .content-news {
        padding-top: 45px;
        border-color: #D2D4D5;
    }

    .content-news:before, .content-news:after {
        border: solid transparent;
        bottom: 100%;
    }

    .content-news:before {
        border-bottom-color: inherit;
        border-width: 17px;
        top: -16px;
        left: 50px;
        margin-left: -17px;
    }

    .content-news:after {
        border-bottom-color: #48b379;
        border-width: 20px;
        top: -20px;
        left: 50px;
        margin-left: -20px;
    }

    .content-news p {
        font-size: 0.9em;
        line-height: 1.4;
    }

    .circle, .date {
        display: none;
    }
}

.tabs dd > a {
    padding: 1.3rem 1.4rem;
}