
ul.levels li {
    cursor: pointer;
    display: inline-block;
    height: 118px;
    width: 115px;
    margin: 0;
    padding: 0 5px 0 0;
    background: transparent url('../images/whitemail_donate_sprite.png') no-repeat scroll -10px -12px;
}

ul.levels {
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    font-family: inherit;
}

ul.levels li.here {
    background-position: -9px -141px;
}

ul.levels li span {
    border-style: solid solid none;
    border-width: 0;
    color: black;
    display: block;
    margin-top: 48px;
    text-align: center;
    text-transform: uppercase;
}

select.course {
    width: 100%;
    border-radius: 5px;
    background-color: #F6F6F6;
    border-color: #CCCCCC;
    border-width: 2px;
    height: 50px;
    padding: 0.5em;
}

.ui-slider-wrap .ui-slider-horizontal {
    height: 20px;
}

.ui-slider-wrap .ui-slider-handle {
    width: 30px;
    height: 30px;
}

input[type='text'].dollar {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    height: 66px;
    padding-left: 20px;
}

span.dollar-detail {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    height: 66px;
    width: 100%;
    padding-top: 20px;
}

.cursive {
    font-family: 'Satisfy', cursive;
}

.extra-top-small-margin {
    margin-top: 10px !important;
}

.main-selections:hover, .main-selections:focus {
    background: #FF9E91 !important;
}

.extra-top-mini-margin {
    margin-top: 5px !important;
}

.extra-top-margin {
    margin-top: 20px !important;
}

.extra-top-large-margin {
    margin-top: 35px !important;
}