@font-face {
    font-family: 'nova';
    src: url('../fonts/Mark%20Simonson%20-%20Proxima%20Nova%20ScOsf%20Regular.otf');
}

ul.levels li {
    cursor: pointer;
    display: inline-block;
    height: 118px;
    width: 115px;
    margin: 0;
    padding: 0 5px 0 0;
    background: transparent url('../images/whitemail_donate_sprite.png') no-repeat scroll -10px -12px;
}

ul.levels {
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    font-family: inherit;
}

ul.levels li.here {
    background-position: -9px -141px;
}

ul.levels li span {
    border-style: solid solid none;
    border-width: 0;
    color: black;
    display: block;
    margin-top: 48px;
    text-align: center;
    text-transform: uppercase;
}

select.course {
    width: 100%;
    border-radius: 5px;
    background-color: #F6F6F6;
    border-color: #CCCCCC;
    border-width: 2px;
    height: 50px;
    padding: 0.5em;
}

.ui-slider-wrap .ui-slider-horizontal {
    height: 20px;
}

.ui-slider-wrap .ui-slider-handle {
    width: 30px;
    height: 30px;
}

input[type='text'].dollar {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    height: 66px;
    padding-left: 20px;
}

span.dollar-detail {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    height: 66px;
    width: 100%;
    padding-top: 20px;
}

.cursive {
    font-family: 'Satisfy', cursive;
}

.extra-top-small-margin {
    margin-top: 10px !important;
}

.main-selections:hover, .main-selections:focus {
    background: #E2FFC4 !important;
}

.extra-top-mini-margin {
    margin-top: 5px !important;
}

.extra-top-margin {
    margin-top: 20px !important;
}

.extra-top-large-margin {
    margin-top: 35px !important;
}

.light-box {
    left: 50%;
    position: absolute;
    z-index: 901;
    padding: 30px 40px 34px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background: #fff;
    display: none;
    border-radius: 3px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    width: 380px;
    margin-top: 150px;
    margin-left: -200px;
}

.light-box button {
}

.light-box .btn-auth {
    width: 80% !important;
}

.centered {
    margin: 0 auto;
}

.light-box form {
    margin-bottom: 0;
}

body, h1, h2, h3 {
    font-family: 'nova',sans-serif;
}