.extra-margin-top {
    margin-top: 10px;
}

.extra-margin-bottom {
    margin-bottom: 10px;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid;
}

.wrapper-lg {
    padding-top: 0;
}

.m-t-lg {
    padding: 10px;
}