<div class="light-box" id="compose-message">
    <form action="{% url 'users:compose' %}" method="post" class="send-message">
        {% csrf_token %}
        <input type="hidden" name="successful_url" value="{{ path }}">
        <input type="hidden" name='recipient' value="{{ username }}" id="recipient-message">
        <input type="text" value="" placeholder="Subject" name="subject">
        <textarea name="body" placeholder="Message"></textarea>
        <input type="submit" value="SEND">
    </form>
</div>