<div class="light-box" id="compose-message">
    <form action="{% url 'users:compose' %}" method="post" class="send-message">
        {% csrf_token %}
        <input type="hidden" name="successful_url" value="{{ path }}">
        <input type="hidden" name='recipient' value="{{ username }}" id="recipient-message">
        <input type="text" value="" placeholder="Subject" name="subject" style="font-family: Lovelo, serif">
        <textarea name="body" placeholder="Message" style="font-family: Dist-light, sans-serif"></textarea>
        <button type="submit" style="float: right; margin-top: 20px">SEND</button>
    </form>
</div>