{% load i18n %}
{% load url from future %}
<h1>{% trans "Inbox" %}</h1>
{% if message_list %}
    <dl class="accordion" data-accordion>
        {% for message in message_list %}
            <dd>
                {% if message.new %}<strong>{% endif %}<a href="#panel1">From: {{ message.sender }}
                Subject: {{ message.subject }}</a>{% if message.new %}</strong>{% endif %}

                <div id="panel1" class="content active">
                    {{ message.body }}
                </div>
            </dd>
        {% endfor %}
    </dl>
{% else %}
    <p>{% trans "No messages." %}</p>
{% endif %}