<div class="light-box" id="compose-message">
    <form action="{% url 'users:reply' %}" method="post" class="send-message">
        {% csrf_token %}
        <input type="hidden" name="successful_url" value="{{ path }}">
        <input type="hidden" name='message_id' value="" id="message_reply_id">
        <input type="text" value="" placeholder="Subject" name="subject">
        <textarea name="body" placeholder="Message"></textarea>
        <button type="submit" style="float: right; margin-top: 20px">SEND</button>
    </form>
</div>