{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <script src="{% static 'assets/components/library/jquery-ui/js/jquery-ui.min.js' %}?v=v1.9.6&sv=v0.0.1"></script>
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block content %}
    <div class="jumbotron margin-none center bg-white">
        <h1 class="separator bottom">Keep Yourself Motivated!</h1>

        <h2 class="heading">Create a Pledge</h2>

        <div class="innerLR row extra-top-margin">
            {% for pledges in others %}
                {% if pledges.count != 0 %}

                    <div class="col-sm-2 side-pledges" id="pledges-{{ pledges.0.course.id }}">
                        <h5 class="innerAll bg-primary margin-bottom-none">Other Pledges</h5>

                        <ul class="list-group list-group-1 margin-none borders-none">
                            {% for pledge in pledges %}
                                <li class="list-group-item animated fadeInUp"><a
                                        href="{% url 'pledges:follow' pledge.id %}">{{ pledge.user.user.first_name }} {{ pledge.user.user.last_name }}
                                    is pledging ${{ pledge.money }} to get at least {{ pledge.get_aim }}%</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-sm-8 {% if pledge_list.0.count != 0 %}col-sm-offset-2{% endif %}" id="side-or-not">
                <form class="form-horizontal" method="post" action="" id="pay-form">
                    {% csrf_token %}
                    <input type="hidden" name="onboarding" value="onboarding"/>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <select class="course" name="course" id="course-select">
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="increments-slider row form-horizontal">
                                <div class="control-group">
                                    <label class="col-sm-6 control-label">Minimum Grade You Want to Earn:</label>

                                    <div class="col-sm-4 padding-none">
                                        <input type="text" class="percentage-amount form-control" name="aim" id="aim"/>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-top: 9px;">
                                    <div class="slider slider-primary"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Amount to Pledge</label>

                        <div class="col-sm-12">
                            <ul class="levels">
                                <li class="here" id="25"><span><strong>$25</strong></span></li>
                                <li id="50" class=""><span><strong>$50</strong></span></li>
                                <li id="100" class=""><span><strong>$100</strong></span></li>
                                <li id="500" class=""><span><strong>$500</strong></span></li>
                                <li id="other" class="">
                                    <span><strong>OTHER</strong></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group" id="input-money">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input id="money" class="form-control col-md-12 dollar" name="money" value="25"
                                       type="text" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-lg" id="create">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            {% for projection in projections %}
                <div class="col-sm-2 side-projections" id="projection-{{ projection.2 }}">
                    <div class="widget-head"><h4 class="heading" style="text-align: left; margin-left: 30px">Projected
                        Rewards</h4></div>
                    <div class="widget-body">
                        <div class="innerLR row extra-top-margin">
                            <div class="centered">
                                <div class="row">
                                    <div class="col-sm-12" style="margin-top: -7px">
                                        <div class="full-reward centered circles">
                                            <p id="proj-value-{{ projection.2 }}">$5</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if wait %}
        <div id="coursera-wait" class="light-box">
            <div class="row text-center">
                Getting your courses, give us a few minutes!
            </div>
            <div class="row extra-top-margin text-center">
                <div class="large-12 columns large-centered">
                    <a href="/learn-more">
                        <button class="btn btn-primary btn-large">Learn More</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="no-courses-lightbox" class="light-box">
        <div class="row text-center">
            You have no courses you can pledge for. Sign up for a course at <a href="https://coursera.org">Coursera</a>
            to get started.
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/jquery.number.js' %}"></script>
    <script>
        $(function () {
            var $input = $('#money');
            $input.number(true, 2);
            $('#input-money').hide();
            $('ul.levels li').click(function () {
                $('.here').removeClass('here');
                $(this).addClass('here');
                $('#money').val(parseInt($(this).attr('id')));
                $('#input-money').hide();
            });
            $('#other').click(function () {
                $('.here').removeClass('here');
                $(this).addClass('here');
                $('#input-money').show();
            });
        });
        {% if wait %}
            $('#coursera-wait').lightbox_me({centered: true, closeEsc: false, closeClick: false});
            var intervalUpdated = null;
            function checkIfUpdated() {
                $.get("{% url 'users:check_update' %}", function (res) {
                    if (res['updated'] == true) {
                        clearInterval(intervalUpdated);
                        if (res['incorrect'] == true) {
                            location.href = '{% url 'users:index' %}?incorrect=true';
                        } else {
                            $('#coursera-wait').trigger('close');
                            location.reload();
                        }
                    }
                });
            }
            intervalUpdated = setInterval(checkIfUpdated, 200);
        {% endif %}
    </script>
    <script>
        $(function () {
            var course_with_pledges_id = [];
            {% for pledges in others %}
                {% if pledges.count != 0 %}
                    course_with_pledges_id.push({{ pledges.0.course.id }});
                {% endif %}
            {% endfor %}
            $('.side-pledges').hide();
            $('.side-projections').hide();
            $('#projection-{{ courses.0.id }}').show();
            {% if  others.0 %}
                $('#side-or-not').removeClass('col-sm-offset-2');
                $('#pledges-{{ others.0.0.course.id }}').show();
            {% endif %}
            $('#course-select').change(function () {
                if (course_with_pledges_id.indexOf(parseInt($(this).val())) > -1) {
                    $('#side-or-not').removeClass('col-sm-offset-2');
                    $('.side-pledges').hide();
                    $('#pledges-' + $(this).val().toString()).show();
                } else {
                    $('.side-pledges').hide();
                    $('#side-or-not').addClass('col-sm-offset-2');
                }
                $('.side-projections').hide();
                $('#projection-' + $(this).val()).show();
                var course_id = parseInt($('#course-select').val());
                {% for projection in projections %}
                    if ("{{ projection.2 }}" == course_id.toString()) {
                        var value =
                        {{ projection.0 }} *
                        (1 + ($(this).val() / 100 - {{ projection.1 }}) /{{ projection.1 }});
                        if (isNaN(value)) {
                            value = 5;
                        }
                        $('#proj-value-' + course_id.toString()).text('$' + (Math.round(value * 100) / 100).toString())
                    }
                {% endfor %}
            });
        });


    </script>
    <script>
        function JQSliderCreate() {
            $(this)
                    .removeClass('ui-corner-all ui-widget-content')
                    .wrap('<span class="ui-slider-wrap"></span>')
                    .find('.ui-slider-handle')
                    .removeClass('ui-corner-all ui-state-default');
        }
        if ($('.increments-slider').size() > 0) {
            $(".increments-slider .slider").slider({
                create: JQSliderCreate,
                value: 75,
                min: 50,
                max: 100,
                step: 5,
                slide: function (event, ui) {
                    $(".increments-slider .percentage-amount").val(ui.value + " %");
                    var course_id = parseInt($('#course-select').val());
                    {% for projection in projections %}
                        if ("{{ projection.2 }}" == course_id.toString()) {
                            var value =
                            {{ projection.0 }} *
                            (1 + (ui.value / 100 - {{ projection.1 }}) /{{ projection.1 }});
                            if (isNaN(value)) {
                                value = 5;
                            }
                            $('#proj-value-' + course_id.toString()).text('$' + (Math.round(value * 100) / 100).toString())
                        }
                    {% endfor %}
                },
                start: function () {
                    if (typeof mainYScroller != 'undefined') mainYScroller.disable();
                },
                stop: function () {
                    if (typeof mainYScroller != 'undefined') mainYScroller.enable();
                }
            });
            $(".increments-slider .percentage-amount").val($(".increments-slider .slider").slider("value") + " %");
            {% if not wait and courses.count == 0 %}
                $('#no-courses-lightbox').lightbox_me({centered: true, close_on_esc: false, close_on_background_click: false});
            {% endif %}
        }
    </script>
{% endblock %}