{% extends 'base.html' %}
{% load staticfiles %}
{% block headers_css %}
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row main-interface">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 text-center">
                        <h1>Create Pledge</h1>

                        <h2>Motivate your Learning!</h2>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-4 text-center centered">
                        <form method="post" action="" id="pay-form">
                            {% csrf_token %}
                            <div class="row collapse">
                                <div class="large-12 columns extra-top-margin">
                                    <select class="course" name="course" id="course-select">
                                        {% for course in user.userprofile.courses.all %}
                                            <option value="{{ course.id }}">{{ course }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="small-3 large-4 columns extra-top-margin">
                                    <span class="dollar prefix">$</span>
                                </div>
                                <div class="small-9 large-8 columns  extra-top-margin">
                                    <input type="text" placeholder="Amount" name="money" id="money" class="dollar">
                                </div>
                                <div class="large-12 columns extra-top-margin">
                                    <button class="other-button" type="submit" id="create">Create</button>
                                </div>
                            </div>
                        </form>
                        <script src="https://checkout.stripe.com/checkout.js"></script>
                        <script>
                            var string = "#create";
                            var string2 = "#pay-form";
                            $(string).click(function () {
                                var token = function (res) {
                                    var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                    $(string2).append($input).submit();
                                };
                                var money = parseInt($('#money').val()) * 100;
                                if (!isNaN(money)) {
                                    StripeCheckout.open({
                                        key: 'pk_test_GUMeKfQZ4BkZzS5GyaZzG7Qb',
                                        address: false,
                                        amount: money,
                                        currency: 'cad',
                                        name: "Pledge",
                                        description: "For " + $('#course-select').find('option:selected ').text(),
                                        panelLabel: 'Pledge ',
                                        token: token
                                    });
                                }
                                return false;
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/jquery.number.js' %}"></script>
    <script>
        $(function () {
            $('input.dollar').number(true, 2)
        });
    </script>
{% endblock %}