{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block content %}
    {% if form %}
        <div class="jumbotron margin-none center bg-white">
            <h1 class="separator bottom">Here is your pledge!</h1>

            <h2 class="heading">Looking Good</h2>

            <div class="innerLR row extra-top-margin">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <span class="course-title"><h3>{{ pledge.course }}</h3></span>
                    </div>
                    <div class="row extra-top-margin">
                        <span class="dollar-detail">$ {{ pledge.money|floatformat:2 }}</span>
                    </div>
                    <div class="row extra-top-margin">
                        <h3>To get at least {{ pledge.get_aim|floatformat:0 }}%</h3>
                    </div>
                    <div class="row extra-top-margin">
                        <button class="btn btn-primary btn-lg" id="real-make" type="submit">Make It Real</button>

                        <button class="btn btn-primary btn-lg" id="trial" type="submit">Take A Trial</button>
                    </div>
                    <form method="post" action="" id="pay-form">
                        {% csrf_token %}
                        <input type="hidden" value="trial" name="type" id="type">
                    </form>
                    <script src="https://checkout.stripe.com/checkout.js"></script>
                    <script>
                        var string = "#real-make";
                        var string2 = "#pay-form";
                        $('#trial').click(function () {
                            $(string2).submit();
                        });
                        $(string).click(function () {
                            var token = function (res) {
                                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                $('#type').val('real');
                                $(string2).append($input).submit();
                            };
                            var money = parseInt("{{ pledge.money }}") * 100;
                            if (!isNaN(money)) {
                                StripeCheckout.open({
                                    key: 'pk_live_0RNa74C7R8WWln4sSxUhJPYT',
                                    address: false,
                                    amount: money,
                                    currency: 'cad',
                                    name: "Pledge",
                                    description: "For " + "{{ pledge.course }}",
                                    panelLabel: 'Pledge ',
                                    token: token
                                });
                            }
                            return false;
                        });
                    </script>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron margin-none center bg-white">
            <h1 class="separator bottom">Here is your pledge!</h1>

            <h2 class="heading">Looking Good</h2>

            <div class="innerLR row extra-top-margin">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <span class="course-title"><h3>{{ pledge.course }}</h3></span>
                    </div>
                    <div class="row extra-top-margin">
                        <span class="dollar-detail">$ {{ pledge.money|floatformat:2 }}</span>
                    </div>
                     <div class="row extra-top-margin">
                        <h3>To get at least {{ pledge.get_aim|floatformat:0 }}%</h3>
                    </div>
                    <div class="row extra-top-margin">
                        <button class="btn btn-primary btn-lg" id="trial" type="submit">Make It Real</button>

                        <button class="btn btn-primary btn-lg" id="trial" type="submit">Take A Trial</button>
                    </div>
                    <form method="post" action="" id="pay-form">
                        {% csrf_token %}
                        <input type="hidden" value="trial" name="type" id="type">
                    </form>
                    <script src="https://checkout.stripe.com/checkout.js"></script>
                    <script>
                        var string = "#real-make";
                        var string2 = "#pay-form";
                        $('#trial').click(function () {
                            $(string2).submit();
                        });
                        $(string).click(function () {
                            var token = function (res) {
                                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                $(string2).append($input).submit();
                            };
                            var money = parseInt("{{ pledge.money }}") * 100;
                            $('#type').val('real');
                            if (!isNaN(money)) {
                                StripeCheckout.open({
                                    key: 'pk_live_0RNa74C7R8WWln4sSxUhJPYT',
                                    address: false,
                                    amount: money,
                                    currency: 'cad',
                                    name: "Pledge",
                                    description: "For " + "{{ pledge.course }}",
                                    panelLabel: 'Pledge ',
                                    token: token
                                });
                            }
                            return false;
                        });
                    </script>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/jquery.number.js' %}"></script>
    <script>
        $(function () {
            $('input.dollar').number(true, 2)
        });
    </script>
{% endblock %}