{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block content %}
    <div class="jumbotron margin-none center bg-white">
        <h1 class="separator bottom">Congratulations</h1>


        <h2 class="heading">You have Achieved Your Goal!</h2>
        <div class="innerLR row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row extra-top-margin">
                    <span class="course-title"><h3>{{ pledge.course }}</h3></span>
                </div>
                <div class="row extra-top-margin">
                    <span class="dollar-detail">You had pledged $ {{ pledge.money|floatformat:2 }}</span>
                </div>
            </div>
        </div>
        <div class="innerLR row">
            <h3>To get at least {{ pledge.get_aim|floatformat:0 }}% and you got {{ pledge.get_actual_mark }}%</h3>
        </div>
        <div class="innerLR row">
            <h3>Here is your hard earned reward: ${{ pledge.reward }}</h3>
        </div>
        <div class="row extra-top-margin">
            <div class="col-sm-8 col-sm-offset-2">
                <a href="{% url 'pledges:index' %}">
                    <button class="btn btn-primary btn-lg">Back</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/jquery.number.js' %}"></script>
    <script>
        $(function () {
            $('input.dollar').number(true, 2)
        });
    </script>
{% endblock %}