{% extends 'base.html' %}
{% load staticfiles %}
{% block headers_css %}
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row main-interface">
        <div class="row">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>Follow Your Friend's Pledge</h1>

                    <h2>Motivate them even more!</h2>
                </div>
            </div>
            <div class="row extra-top-margin">
                <div class="large-4 columns large-centered text-center centered">
                    <div class="row">
                        <div class="large-12 columns extra-top-margin">
                            <p class="course-title">
                                <strong>{{ pledge.user.user.first_name }} {{ pledge.user.user.last_name }}</strong> is
                                aiming to complete <strong>{{ pledge.course }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row extra-top-margin">
                <div class="large-4 columns large-centered text-center centered">
                    <div class="row">
                        <div class="large-12 columns extra-top-margin">
                            <form method="post" action="{% url 'pledges:follow' pledge.id %}">
                                {% csrf_token %}
                                <input type="email" name="email" placeholder="Email">
                                <button type="submit" class="other-button">Follow</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns extra-top-margin">
                            <hr/>
                            OR
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns extra-top-margin padding-bottom">
                            <button type="submit" id='facebook-follow' class="other-button">Follow with Facebook
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fb-root"></div>
            <script>
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '405339162934237',
                        status: true,
                        xfbml: true
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                $('#facebook-follow').click(function () {
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            FB.api('/me', function (response) {
                                $.post('{% url 'pledges:follow' %}', {'email': response.email});
                            });
                        } else if (response.status === 'not_authorized') {
                            FB.login(function (response) {
                                if (response.authResponse) {
                                } else {
                                }
                            }, {scope: 'email'});
                        } else {
                            FB.login(function (response) {
                                if (response.authResponse) {
                                } else {
                                }
                            }, {scope: 'email'});
                        }
                    }, true);

                });
            </script>
        </div>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>© Copyright Wisely</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
