{% extends 'base.html' %}
{% load staticfiles %}
{% block headers_css %}
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row main-interface">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 text-center">
                        <h1>Your Pledges</h1>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-10 centered">
                        <ul class="list-large">
                            {% for pledge in all_pledges_list %}
                                <li>
                                    <div class="large-8 columns">
                                        <label class="h4">{{ pledge.course }}</label>
                                    </div>
                                    <div class="large-4 columns padding-bottom">
                                        <div class="toggleContainer action">
                                            <div class="large-6 columns">
                                                <h3 class="cursive">$ {{ pledge.money|floatformat:2 }}</h3></div>
                                            <div class="large-6 columns">
                                                <a href="{% url 'pledges:detail' pledge.id %}">
                                                    <button class="other-button text-right">View</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>© Copyright Wisely</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/jquery.number.js' %}"></script>
    <script>
        $(function () {
            $('input.dollar').number(true, 2)
        });
    </script>
{% endblock %}