{% extends 'base.html' %}
{% load staticfiles %}
{% block headers_css %}
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <div class="row main-interface">
        <div class="row">
            {% if form %}
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns text-center">
                            <div class="cursive page-number">4</div>
                        </div>
                        <div class="large-1 columns right-align text-center">
                            <span class="question-mark">?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns text-center">
                        <h1>Share Your Pledge</h1>

                        <h2>Be even more motivated!</h2>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-4 columns large-centered text-center centered">
                        <div class="row collapse">
                            <div class="large-12 columns extra-top-margin">
                                <span class="course-title"><h3>{{ pledge.course }}</h3></span>
                            </div>
                            <div class="small-3 large-4 columns extra-top-margin">
                                <span class="dollar prefix">$</span>
                            </div>
                            <div class="small-9 large-8 columns extra-top-margin">
                                <span class="left dollar-detail">{{ pledge.money|floatformat:2 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-6 large-centered text-center centered">
                        <div class="large-6 columns">
                            <button class="btn-auth btn-facebook" id="share-facebook" type="submit">Share
                                on <b>Facebook</b>
                            </button>
                        </div>
                        <div class="large-6 columns">
                            <a class="twitter popup"
                               href="http://twitter.com/share?text=I%20have%20just%20made%20a%20pledge%20for%20{{ pledge.course }}%2C%20help%20me%20stay%20motivated%20by%20following%20the%20pledge!&url=http://www.projectwisely.com/follow/{{ pledge.id }}">
                                <button class="btn-auth btn-twitter" id="share-twitter" type="submit">Share
                                    on <b>Twitter</b>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-4 columns large-centered text-center centered">
                        <div class="row collapse">
                            <a href="{% url 'pledges:index' %}">
                                <button class="other-button">Finish</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="large-12 text-center">
                        <h1>Share Your Pledge</h1>

                        <h2>Be even more motivated!</h2>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-4 text-center centered">
                        <div class="row collapse">
                            <div class="large-12 columns extra-top-margin">
                                <span class="course-title"><h3>{{ pledge.course }}</h3></span>
                            </div>
                            <div class="small-3 large-4 columns extra-top-margin">
                                <span class="dollar prefix">$</span>
                            </div>
                            <div class="small-9 large-8 columns extra-top-margin">
                                <span class="left dollar-detail">{{ pledge.money|floatformat:2 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-6 large-centered text-center centered">
                        <div class="large-6 columns">
                            <button class="btn-auth btn-facebook" id="share-facebook" type="submit">Share
                                on <b>Facebook</b>
                            </button>
                        </div>
                        <div class="large-6 columns">
                            <a class="twitter popup"
                               href="http://twitter.com/share?text=I%20have%20just%20made%20a%20pledge%20for%20{{ pledge.course }}%2C%20help%20me%20stay%20motivated%20by%20following%20the%20pledge!&url=http://www.projectwisely.com/follow/{{ pledge.id }}">
                                <button class="btn-auth btn-twitter" id="share-twitter" type="submit">Share
                                    on <b>Twitter</b>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row extra-top-margin">
                    <div class="large-4 columns large-centered text-center centered">
                        <div class="row collapse">
                            <a href="{% url 'pledges:index' %}">
                                <button class="other-button">Finish</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div id="fb-root"></div>
            <script>
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '405339162934237',
                        status: true,
                        xfbml: true
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                $('#share-facebook').click(function () {
                    FB.ui(
                            {
                                method: 'feed',
                                name: 'Pledge for {{ pledge.course }}',
                                description: (
                                        'I' + ' have just made a' +
                                                ' pledge for {{ pledge.course }}, help me stay motivated by following the pledge.'
                                        ),
                                link: 'http://www.projectwisely.com/follow/{{ pledge.id }}',
                                picture: 'http://www.fbrell.com/public/f8.jpg'
                            },
                            function (response) {
                                if (response && response.post_id) {
                                } else {
                                }
                            }
                    );
                });
                $('.popup').click(function (event) {
                    var width = 575,
                            height = 400,
                            left = ($(window).width() - width) / 2,
                            top = ($(window).height() - height) / 2,
                            url = this.href,
                            opts = 'status=1' +
                                    ',width=' + width +
                                    ',height=' + height +
                                    ',top=' + top +
                                    ',left=' + left;

                    window.open(url, 'twitter', opts);

                    return false;
                });

            </script>
        </div>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>© Copyright Wisely</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/jquery.number.js' %}"></script>
    <script>
        $(function () {
            $('input.dollar').number(true, 2)
        });
    </script>
{% endblock %}