{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/auth-buttons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block content %}
    <div class="jumbotron margin-none center bg-white">
        <h1 class="separator bottom">Congratulations</h1>


        <h2 class="heading">You have Achieved Your Goal!</h2>

        <div class="innerLR row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row extra-top-margin">
                    <span class="course-title"><h3>{{ pledge.course }}</h3></span>
                </div>
                <div class="row extra-top-margin">
                    <span class="dollar-detail">You had pledged $ {{ pledge.money|floatformat:2 }}</span>
                </div>
            </div>
        </div>
        <div class="innerLR row">
            <h3>To get at least {{ pledge.get_aim|floatformat:0 }}% and you got {{ pledge.get_actual_mark }}%</h3>
        </div>
        <div class="innerLR row">
            <h3>Here is your hard earned reward: ${{ pledge.reward }}</h3>
        </div>
        <div class="row extra-top-margin">
            <div class="col-sm-8 col-sm-offset-2">
                <a href="#">
                    <button class="btn btn-primary btn-lg">Claim</button>
                </a>
                <a href="{% url 'pledges:index' %}">
                    <button class="btn btn-primary btn-lg">Back</button>
                </a>
            </div>
        </div>
        <div class="innerLR row">
            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn-auth btn-facebook" id="share-facebook" type="submit">Share your success
                    on <b>Facebook</b>
                </button>
                <a class="twitter popup"
                   href="http://twitter.com/share?text=I%20have%20success%20fully%20completed%20a%20pledge%20for%20{{ pledge.course }}%2C%20and%20earned%20%24{{ pledge.reward }}&url=http://www.projectwisely.com/">
                    <button class="btn-auth btn-twitter" id="share-twitter" type="submit">Share your success
                        on <b>Twitter</b>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '405339162934237',
                status: true,
                xfbml: true
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        $('#share-facebook').click(function () {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    FB.ui(
                            {
                                method: 'feed',
                                name: 'Pledge for {{ pledge.course }}',
                                description: (
                                        'I have success fully completed a' +
                                                ' pledge for {{ pledge.course }}, and earned ${{ pledge.reward }}'
                                        ),
                                link: 'http://www.projectwisely.com/',
                                picture: 'http://www.fbrell.com/public/f8.jpg'
                            },
                            function (response) {
                                if (response && response.post_id) {
                                } else {
                                }
                            }
                    );
                } else if (response.status === 'not_authorized') {
                    FB.login(function (response) {
                        if (response.authResponse) {
                            FB.ui(
                                    {
                                        method: 'feed',
                                        name: 'Pledge for {{ pledge.course }}',
                                        description: (
                                                'I have success fully completed a' +
                                                ' pledge for {{ pledge.course }}, and earned ${{ pledge.reward }}'
                                                ),
                                        link: 'http://www.projectwisely.com/follow/{{ pledge.id }}',
                                        picture: 'http://www.fbrell.com/public/f8.jpg'
                                    },
                                    function (response) {
                                        if (response && response.post_id) {
                                        } else {
                                        }
                                    }
                            );
                        } else {
                            console.log('User cancelled login or did not fully authorize.');
                        }
                    });
                } else {
                    FB.login(function (response) {
                        if (response.authResponse) {
                            FB.ui(
                                    {
                                        method: 'feed',
                                        name: 'Pledge for {{ pledge.course }}',
                                        description: (
                                                'I have success fully completed a' +
                                                ' pledge for {{ pledge.course }}, and earned ${{ pledge.reward }}'
                                                ),
                                        link: 'http://www.projectwisely.com/follow/{{ pledge.id }}',
                                        picture: 'http://www.fbrell.com/public/f8.jpg'
                                    },
                                    function (response) {
                                        if (response && response.post_id) {
                                        } else {
                                        }
                                    }
                            );
                        } else {
                            console.log('User cancelled login or did not fully authorize.');
                        }
                    });
                }
            }, true);

        });

        $('.popup').click(function (event) {
            var width = 575,
                    height = 400,
                    left = ($(window).width() - width) / 2,
                    top = ($(window).height() - height) / 2,
                    url = this.href,
                    opts = 'status=1' +
                            ',width=' + width +
                            ',height=' + height +
                            ',top=' + top +
                            ',left=' + left;

            window.open(url, 'twitter', opts);

            return false;
        });

    </script>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/jquery.number.js' %}"></script>
    <script>
        $(function () {
            $('input.dollar').number(true, 2)
        });
    </script>
{% endblock %}