{% extends 'base-app.html' %}
{% load breaktag %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
    <script src="{{ async_url }}/socket.io/socket.io.js"></script>
{% endblock %}
{% block nav-bar %}
    <li class="active"><a href="{% url 'users:index' %}"><i class="fa fa-book"></i><span>Dashboard</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:index' %}"><i
            class="fa fa-book"></i><span>Pledges</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:list_rewards' %}"><i
            class="fa fa-money"></i><span>Rewards</span></a>
    </li>
    <li class=""><a href="/more"><i
            class="fa fa-book"></i><span>More Coming Soon!</span></a>
    </li>
{% endblock %}
{% block content %}
    <!-- col -->
    <div class="row wide-row">
        <h1>Current Sessions</h1>

        <div class="row">
            <div class="large-6 small-12 large-offset-6">
                <ul>
                    {% for session in sessions %}
                        <li><a href="{% url 'studyroom:view_session' session.id %}">{{ session }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script src="{{ async_url }}/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('{{ async_url }}');
        socket.on("new-create-session", function (data) {
            //TODO: new session
        });
    </script>
{% endblock %}
