<!DOCTYPE html>
<html>
<body style="width: 440px; margin-top: 0; margin-left: 0">

<p style="background-color: #87C844; margin-top: 0"><img src="http://projectwisely.com/static/images/logo.png"/></p>

<div style="margin-left: 10px">
    Dear {{ user.first_name }} {{ user.last_name }},

    <h2>Welcome to Wisely!</h2>

    <h4></h4>

    <p class=MsoNormal><font size=2 face=Arial><span lang=EN-US style='font-size:12.0pt;font-family:Arial'>We are delighted to have you on board for Wisely Beta. We sincerely believe in helping you achieve your online educational goals.</span></font>
    </p>

    <p class=MsoNormal><font size=2 face=Arial><span lang=EN-US
                                                     style='font-size:12.0pt;font-family:Arial'>We are
    constantly looking to improve and so please free to contact us at contact@projectwisely.com, with suggestions and
    feedback</span></font>
    </p>

    <p class=MsoNormal><font size=2 face=Arial><span lang=EN-US
                                                     style='font-size: 12.0pt;font-family:Arial'>Best Regards,<br>Team Wisely</span></font>
    </p>
</div>
</body>
</html>