{% extends 'base.html' %}
{% load breaktag %}
{% load staticfiles %}
{% block headers_css %}
    <link href="{% static 'css/eventCalendar.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/jquery.eventCalendar.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'nav-bar.html' %}
    <!-- First Band (Slider) -->
    <div class="row">
        <div class="row extra-top-margin">
            {% if form %}
                <div class="row main-interface">
                    <div class="row">
                        <div class="large-1 columns text-center">
                            <div class="cursive page-number">1</div>
                        </div>
                        <div class="large-1 columns right-align text-center">
                            <span class="question-mark">?</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns text-center">
                            <h1>To Get Started</h1>

                            <h2>Add Your Coursera Account</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns large-offset-3 extra-top-margin">
                            <div id="coursera">
                                <div class="row text-center">
                                    <form action="{% url 'users:index' %}" method="post">
                                        {% csrf_token %}
                                        <div>
                                            <input type="text" name="username" placeholder="Coursera Username">
                                        </div>
                                        <div class="extra-margin-top">
                                            <input type="password" name="password" placeholder="Coursera Password">
                                        </div>
                                        <div class="centered extra-margin-top">
                                            <button type="submit" class="other-button">Add Account</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="large-12 columns">
                    <dl class="tabs vertical" data-tab>
                        <div class="title-courses left"><h3>Courses</h3></div>
                        <span class="right fa fa-plus-square-o fa-2x" id="update-coursera"></span>
                        {% for course in user.userprofile.courses.all %}
                            <dd {% if forloop.counter == 1 %}class="active"{% endif %}><a
                                    href="#panel{{ forloop.counter }}a">{{ course }}</a>
                            </dd>
                        {% endfor %}
                    </dl>
                    <div class="tabs-content vertical no-background">

                        {% for course in user.userprofile.courses.all %}
                            <div class="content {% if forloop.counter == 1 %}active{% endif %}"
                                 id="panel{{ forloop.counter }}a">

                                {% for pledge in pledges %}{% if pledge.course == course %}
                                    <h3>Your Pledge for ${{ pledge.money|floatformat:2 }}</h3>
                                    <a href="{% url 'pledges:share' pledge.id %}">
                                        <button class="login-button alt-learn">View</button>
                                    </a>
                                    {{ forloop|break }}
                                {% endif %}{% if forloop.last or friendlist.count == 1 %}
                                    <h4>No Pledge for this course. Make one now!</h4>
                                    <a href="{% url 'pledges:create' %}">
                                        <button class="login-button alt-learn">Create</button>
                                    </a>
                                {% endif %}{% endfor %}

                                <h3 class="extra-top-margin">Current Progress</h3>
                                {% for progress in progresses %}
                                    {% if progress.quiz.course == course %}
                                        <p>{{ progress|safe }}</p>
                                    {% endif %}
                                {% endfor %}

                                <div id="calender-{{ course }}"></div>
                                <script>
                                    $(function () {
                                        var dates = [];
                                        {% for progress in progresses %}
                                            {% if progress.quiz.course == course %}
                                                dates.push({{ progress.get_date }});
                                            {% endif %}
                                        {% endfor %}
                                        $('#calender-{{ course|cut:" " }}').eventCalendar({
                                            eventsjson: 'file.json',
                                            jsonDateFormat: 'human'
                                        });
                                    });
                                </script>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            {% endif %}
        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-6 columns">
                        <p>© Copyright Wisely</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="coursera-update" class="light-box">
        <div class="row text-center">
            <form action="{% url 'users:index' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="username" placeholder="Coursera Username">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Coursera Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit">Update Account</button>
                </div>
            </form>
        </div>
    </div>
    {% if wait %}
        <div id="coursera-wait" class="light-box">
            <div class="row text-center">
                Getting your courses, give us a few minutes!
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block additionalScripts %}
    <script>
        $(function () {
            {% if wait %}
                $('#coursera-wait').lightbox_me({centered: true});
                setTimeout("location.reload(true);", 30000);
            {% endif %}
            $('#update-coursera').click(function () {
                $('#coursera-update').lightbox_me({centered: true});
            });
        });
    </script>

{% endblock %}
