{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'nav-bar.html' %}
    <!-- First Band (Slider) -->
    <div class="row">
        <div class="row">
            <div class="large-4 columns">
                <img src="http://placehold.it/400x300&text=[ img 1 ]"/>
            </div>
            <div class="large-8 columns">
                <h4>This is a content section.</h4>

                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
                    reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
                    reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>

        </div>
        <hr/>
        <!-- Three-up Content Blocks -->

        <div class="row">
            <div class="large-4 columns">
                <img src="http://placehold.it/400x300&text=[img]"/>
                <h4>This is a content section.</h4>

                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
                    reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
                    reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>

            <div class="large-4 columns">
                <img src="http://placehold.it/400x300&text=[img]"/>
                <h4>This is a content section.</h4>

                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
                    reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
                    reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>

            <div class="large-4 columns">
                <img src="http://placehold.it/400x300&text=[img]"/>
                <h4>This is a content section.</h4>

                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
                    reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
                    reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>

        </div>
        <!-- Footer -->

        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-6 columns">
                        <p>© Copyright no one at all. Go to town.</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="coursera" class="light-box">
        <div class="row text-center">
            <form action="{% url 'user:index' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="username" placeholder="Coursera Username">
                </div>
                <div class="extra-margin-top">
                    <input type="password" name="password" placeholder="Coursera Password">
                </div>
                <div class="centered extra-margin-top">
                    <button type="submit">Add Account</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    {% if form %}
        <script>
            $('#coursera').lightbox_me({centered: true});
        </script>
    {% endif %}
{% endblock %}
