{% extends 'base-app.html' %}
{% load breaktag %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block nav-bar %}
    <li class="active"><a href="{% url 'users:index' %}"><i class="fa fa-book"></i><span>Courses</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:index' %}"><i
            class="fa fa-book"></i><span>Pledges</span></a>
    </li>
    <li class=""><a href="#"><i
            class="fa fa-book"></i><span>More Coming Soon!</span></a>
    </li>
{% endblock %}
{% block content %}
    <!-- col -->
    {% if form %}
        <div class="jumbotron margin-none center bg-white">
            <h1 class="separator bottom">To Get Started!</h1>

            <h2 class="heading">Add Your Coursera Account</h2>

            <div class="innerLR row">
                <form class="form-horizontal col-sm-6 col-sm-offset-3" action="{% url 'users:index' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" name="username" class="form-control" placeholder="Coursera Username">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-12">
                            <input type="password" name="password" class="form-control" placeholder="Coursera Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-lg">Add Account</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    {% else %}
        <div class="col-lg-8 col-sm-12 col-md-7">


            <div class="heading-buttons innerLR border-bottom">
                <h3 class="margin-none innerTB pull-left">Current Courses</h3>

                <div class="clearfix"></div>
            </div>


            <div class="innerAll bg-white">
                <div class="row">
                    {% for course in user.courseraprofile.courses.all %}
                        <div class="col-lg-6" id="course-{{ course.id }}-div">
                            <div class="box-generic bg-primary-light text-center main-selections">
                                <div class="innerTB">
                                    <div class="innerAll"><img src="{{ course.image_link }}"/>
                                    </div>
                                    <h5 class="strong">{{ course.title }}</h5>

                                    <p>{{ course.description }}</p>

                                    <div class="innerAll">
                                        <div class="progress bg-white progress-mini">
                                            <div class="progress-bar progress-bar-primary"
                                                 style="width: {{ course.get_amount_progress }}%"></div>
                                        </div>
                                    </div>
                                    {% for pledge in pledges %}
                                        {% if pledge.course == course %}
                                            {% if pledge.is_complete %}
                                                <a href="{% url 'pledges:congrats' pledge.id %}">
                                                    <button class="btn btn-sm btn-primary">Collect Your Rewards <i
                                                            class="fa fa-fw fa-arrow-right"></i></button>
                                                </a>
                                            {% else %}
                                                <a href="{% url 'pledges:share' pledge.id %}">
                                                    <button class="btn btn-sm btn-primary">View Pledge <i
                                                            class="fa fa-fw fa-arrow-right"></i></button>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'pledges:create' %}">
                                                <button class="btn btn-sm btn-primary">Create a Pledge <i
                                                        class="fa fa-fw fa-arrow-right"></i></button>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- // END col-app -->


        <!-- col -->
        {% for course in user.courseraprofile.courses.all %}
            <div class="col-lg-4 col-md-5 col-sm-12 sides {% if forloop.first %}sides-first{% endif %}"
                 id="side-{{ course.id }}">


            <div class="widget widget-body-white">
                <!-- Widget Heading -->
                <div class="widget-head">
                    <h4 class="heading glyphicons calendar"><i></i>{{ course.title }}</h4>
                </div>
                <!-- // Widget Heading END -->

                <div class="widget-body innerAll inner-2x">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>Current Progress</h3>
                            {% for progress in progresses %}
                                {% if progress.quiz.course == course %}
                                    <p>{{ progress|safe }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widget -->
            {% for ps in others %}
                {% if forloop.parentloop.counter == forloop.counter %}
                    {% if ps or pledge.follower_set.all.count > 0 %}
                        {% if pledge.follower_set.all.count <= 0 %}
                            <div class="col-sm-12">
                        {% else %}
                            <div class="col-sm-6">
                        {% endif %}
                    <h5 class="innerAll bg-primary margin-bottom-none">Other Pledges</h5>

                    <ul class="list-group list-group-1 margin-none borders-none">
                        {% for pledge in ps %}
                            <li class="list-group-item animated fadeInUp"><a
                                    href="{% url 'pledges:follow' pledge.id %}">{{ pledge.user.user.first_name }} {{ pledge.user.user.last_name }}
                                is pledging ${{ pledge.money }} to get {{ pledge.get_aim }}%</a>
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
                        {% if pledge.follower_set.all.count > 0 %}
                            <div class="col-sm-6">
                                <div class="lead margin-none strong">{{ pledge.follower_set.all.count }}</div>
                                <p class="margin-none">followers</p>
                                <ul class="list-group list-group-1 margin-none borders-none">
                                    {% for follower in pledge.follower_set.all %}
                                        <li class="list-group-item animated fadeInUp">{{ follower.email }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="widget widget-body-gray">
                            <!-- Widget Heading -->
                            <div class="widget-head">
                                <h4 class="heading glyphicons calendar"><i></i>Calendar</h4>
                            </div>
                            <!-- // Widget Heading END -->

                            <div class="widget-body innerAll inner-2x">
                                <div data-component>
                                    <div id="calendar-{{ course.id }}"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <!-- col-table-row -->
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'assets/components/modules/admin/calendar/assets/lib/js/fullcalendar.min.js' %}?v=v1.9.6&sv=v0.0.1"></script>
    <script src="{% static 'assets/components/modules/admin/calendar/assets/lib/js/gcal.js' %}?v=v1.9.6&sv=v0.0.1"></script>
    <script>
        $(function () {
            {% if wait %}
                $('#coursera-wait').lightbox_me({centered: true});
                setTimeout("location.reload(true);", 30000);
            {% endif %}
            $('#update-coursera').click(function () {
                $('#coursera-update').lightbox_me({centered: true});
            });
            {% for course in user.courseraprofile.courses.all %}
                $('#calendar-{{ course.id }}').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: false,
                    droppable: false,
                    events: {
                    }
                });
                $('#course-{{ course.id }}-div').click(function () {
                    $('.sides').hide();
                    $('#side-{{ course.id }}').show();
                });
                if (!window.location.origin)
                    window.location.origin = window.location.protocol + "//" + window.location.host;
            {% endfor %}
            $('.sides').hide();
            $('.sides-first').show();
        });
    </script>

{% endblock %}
