{% extends 'base-app-alt.html' %}
{% load breaktag %}
{% load staticfiles %}
{% load breaktag %}
{% block headers_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-news.css' %}" cache="false"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-index.css' %}" cache="false"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.hoverscroll.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pickaday.css' %}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
{% endblock %}
{% block nav-bar %}
    {% include 'nav-bar-alt.html' with courses="True" %}
{% endblock %}
{% block content %}
    <div class="row wide-row"
         style="border-bottom: solid #D2D4D5 1px; {% if request.is_mobile %}width: 100%{% endif %}">
        <div class="large-4 small-4 columns"
             style="border-right: solid #D2D4D5 1px; padding-top: 5%; padding-bottom: 1%;">
            <div class="row">
                <div class="large-3 small-3 columns">
                    <img {% if user.userprofile.picture %}src="/media/{{ user.userprofile.picture }}"
                         {% else %}src="{% static 'images/default-profile-img.png' %}"{% endif %}
                         class="pull-left img-circle" style="max-width: 40px; max-height: 40px">
                </div>
                <div class="large-6 small-6 columns">
                    <div style="">
                        <h3 style="font-weight: 400; font-size: 1.4em">{{ user.first_name }} {{ user.last_name }}</h3>

                        {% if user.userprofile.headline %}
                            <p>{{ user.userprofile.headline }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="large-3 small-3 columns">
                    <p style="cursor: pointer; font-size: 2em; border-radius: 50%; width: 45px; height: 45px; margin-top: 15px; margin-bottom: 0px; text-align: center; border: solid 1px #718295;"
                       id="settings-icon"><span
                        style="width: 100%; color: #718295;" class="fa fa-link"></span></p>
                </div>
            </div>
        </div>
        <div class="large-8 small-8 columns" style="margin-top: 50px; text-align: center">
            <div class="row summary-courses">
                <div class="large-3 small-3 columns">
                    <p class="number-bold">{{ current_courses }}</p>

                    <p>CURRENT</p>
                </div>
                <div class="large-3 small-3 columns">
                    <p class="number-bold">{{ past_courses }}</p>

                    <p>COMPLETED</p>
                </div>
                <div class="large-3 small-3 columns">
                    <p class="number-bold">{{ user.userprofile.follows.count }}</p>

                    <p>FRIENDS</p>
                </div>
                <div class="large-3 small-3 columns">
                    <p class="number-bold"><sup style="top: 0;">$</sup>0</p>

                    <p>EARNED</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row wide-row" data-equalizer style="{% if request.is_mobile %}width: 100%{% endif %}">
        <div class="large-4 small-4 columns">
            <div class="row">
                <div style="background: #0F486D; color: #fff; padding: 5%; min-height: 74px" data-equalizer-watch>
                    <p style="font-size: 1.3em; font-weight: 700; float: right; padding-top: 8px;">My Courses</p>
                </div>
            </div>
        </div>
        <div class="large-8 small-8 columns">
            <div class="row course-filts" id="filters" data-equalizer-watch
                 style="text-align: center; padding-top: 25px; background: #CACACA">
                <div class="large-4 small-4 columns"><a href="#"><p class="selected-news" id="current-filt">Current
                    Courses</p>
                </a></div>
                <div class="large-4 small-4 columns"><a href="#"><p id="past-filt">Past Courses</p></a></div>
                <div class="large-4 small-4 columns"><a href="#"><p id="all-filt">All Courses</p></a></div>
            </div>
        </div>
    </div>
    <div class="row wide-row" style="{% if request.is_mobile %}width: 100%{% endif %}">
    <div class="large-12 small-12 columns">
    <div class="row">
    <dl class="tabs vertical" style="width: 100%" data-tab>
    {% for course, grade in coursera_courses %}
        {% for pledge in pledges %}
            {% if pledge.course == course %}
                <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                    data-name="{{ course.title|upper }}" data-end="{{ course.end_date }}"
                    class="course {% if course.get_amount_progress >= 100 or pledge.is_done %}past{% else %}current{% endif %}">
                    <a href="#panel{{ course.id }}a"
                       onclick="$('#filters').toggle();"
                       style="text-align: right; width: 33.333%; display: inline-block;font-weight: 700"><span>{{ course.title|upper }}
                        <br/>Pledge Ending: {{ pledge.pledge_end_date }}</span>
                    </a>

                    <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                        <div class="meter">
                            <span style="width: {{ pledge.get_amount_progress }}%"></span>
                        </div>
                        <div
                            style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                            <div class="metrics score">
                                <p>SCORE<br/>
                                    <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                            </div>
                            <div class="metrics goal">
                                <p>GOAL<br/>
                                    <span class="overall-mark">{{ pledge.get_aim|floatformat:"0" }}<sup>%</sup></span>
                                </p>
                            </div>
                            <div class="metrics pledge share-it" data-share="{{ course.title|upper }}"
                                 data-shareid="{{ course.id }}">
                                <p>PLEDGE<br/>
                                    <span class="overall-mark">${{ pledge.money }}</span></p>
                            </div>
                        </div>
                    </div>
                </dd>
                {{ forloop|break }}
            {% elif forloop.counter == pledges.count %}
                <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                    class="course {% if course.get_amount_progress >= 100 %}past{% else %}current{% endif %}">
                    <a href="#panel{{ course.id }}a"
                       onclick="$('#filters').toggle();"
                       style="text-align: right; width: 33.333%; display: inline-block;font-weight: 700">{{ course.title|upper }}
                    </a>

                    <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                        <div class="meter">
                            <span style="width: {{ course.get_amount_progress }}%"></span>
                        </div>
                        <div
                            style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                            <div class="metrics score">
                                <p style="font-size: 1rem">SCORE<br/>
                                    <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                            </div>
                            {% if course.get_amount_progress <= 50 %}
                                <div class="metrics goal pledge-start has-tip tip-bottom"
                                     data-class="{{ course.title|upper }}" data-end="{{ course.end_date }}"
                                     data-id="{{ course.id }}" data-tooltip
                                     data-options="disable_for_touch:true" title="Make a pledge"><p>
                                    <img src="{% static 'images/pledge-icon.png' %}" width="50"
                                         style="display: inline"></p>
                                </div>
                                <div class="metrics pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                            {% else %}
                                <div class="metrics goal has-tip tip-bottom" data-tooltip
                                     data-options="disable_for_touch:true" title="Too late to pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                                <div class="metrics pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </dd>
            {% endif %}
        {% endfor %}
        {% if not pledges %}
            <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                class="course {% if course.get_amount_progress >= 100 %}past{% else %}current{% endif %}">
                <a href="#panel{{ course.id }}a"
                   onclick="$('#filters').toggle();"
                   style="text-align: right; width: 33.333%; display: inline-block;font-weight: 700">{{ course.title|upper }}
                </a>

                <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                    <div class="meter">
                        <span style="width: {{ course.get_amount_progress }}%"></span>
                    </div>
                    <div
                        style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                        <div class="metrics score">
                            <p style="font-size: 1rem">SCORE<br/>
                                <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                        </div>
                        {% if course.get_amount_progress <= 50 %}
                            <div class="metrics goal pledge-start has-tip tip-bottom"
                                 data-class="{{ course.title|upper }}" data-end="{{ course.end_date }}"
                                 data-id="{{ course.id }}" data-tooltip
                                 data-options="disable_for_touch:true" title="Make a pledge"><p>
                                <img src="{% static 'images/pledge-icon.png' %}" width="50"
                                     style="display: inline"></p>
                            </div>
                            <div class="metrics pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                        {% else %}
                            <div class="metrics goal has-tip tip-bottom" data-tooltip
                                 data-options="disable_for_touch:true" title="Too late to pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                            <div class="metrics pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </dd>
        {% endif %}
    {% endfor %}
    {% for course, grade in edx_courses %}
        {% for pledge in pledges %}
            {% if pledge.course == course %}
                <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                    class="course {% if course.get_amount_progress >= 100 or pledge.is_done %}past{% else %}current{% endif %}">
                    <a
                        href="#panel{{ course.id }}a"
                        onclick="$('#filters').toggle();"
                        style="text-align: right; width: 33.333%; display: inline-block;font-weight: 700">{{ course.title|upper }}
                        <br/>Pledge Ending: {{ pledge.pledge_end_date }}
                    </a>

                    <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                        <div class="meter">
                            <span style="width: {{ pledge.get_amount_progress }}%"></span>
                        </div>
                        <div
                            style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                            <div class="metrics score">
                                <p style="font-size: 1rem">SCORE<br/>
                                    <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                            </div>
                            <div class="metrics goal">
                                <p>GOAL<br/>
                                    <span class="overall-mark">{{ pledge.get_aim|floatformat:"0" }}<sup>%</sup></span>
                                </p>
                            </div>
                            <div class="metrics pledge share-it" data-share="{{ course.title|upper }}"
                                 data-shareid="{{ course.id }}">
                                <p>PLEDGE<br/>
                                    <span class="overall-mark">${{ pledge.money }}</span></p>
                            </div>
                        </div>
                    </div>
                </dd>
                {{ forloop|break }}
            {% elif forloop.counter == pledges.count %}
                <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                    class="course {% if course.get_amount_progress >= 100 %}past{% else %}current{% endif %}">
                    <a href="#panel{{ course.id }}a"
                       onclick="$('#filters').toggle();"
                       style="text-align: right; width: 33.333%; display: inline-block;font-weight: 700">{{ course.title|upper }}
                    </a>

                    <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                        <div class="meter">
                            <span style="width: {{ course.get_amount_progress }}%"></span>
                        </div>
                        <div
                            style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                            <div class="metrics score">
                                <p style="font-size: 1rem">SCORE<br/>
                                    <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                            </div>
                            {% if course.get_amount_progress <= 50 %}
                                <div class="metrics goal pledge-start has-tip tip-bottom"
                                     data-class="{{ course.title|upper }}" data-end="{{ course.end_date }}"
                                     data-id="{{ course.id }}" data-tooltip
                                     data-options="disable_for_touch:true" title="Make a pledge"><p>
                                    <img src="{% static 'images/pledge-icon.png' %}" width="50"
                                         style="display: inline"></p>
                                </div>
                                <div class="metrics pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                            {% else %}
                                <div class="metrics goal has-tip tip-bottom" data-tooltip
                                     data-options="disable_for_touch:true" title="Too late to pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                                <div class="metrics pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </dd>
            {% endif %}
        {% endfor %}
        {% if not pledges %}
            <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                class="course {% if course.get_amount_progress >= 100 %}past{% else %}current{% endif %}">
                <a href="#panel{{ course.id }}a"
                   onclick="$('#filters').toggle();"
                   style="text-align: right; width: 33.333%; display: inline-block; font-weight: 700">{{ course.title|upper }}
                </a>

                <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                    <div class="meter">
                        <span style="width: {{ course.get_amount_progress }}%"></span>
                    </div>
                    <div
                        style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                        <div class="metrics score">
                            <p style="font-size: 1rem">SCORE<br/>
                                <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                        </div>
                        {% if course.get_amount_progress <= 50 %}
                            <div class="metrics goal pledge-start has-tip tip-bottom"
                                 data-class="{{ course.title|upper }}" data-end="{{ course.end_date }}"
                                 data-id="{{ course.id }}" data-tooltip
                                 data-options="disable_for_touch:true" title="Make a pledge"><p>
                                <img src="{% static 'images/pledge-icon.png' %}" width="50"
                                     style="display: inline"></p>
                            </div>
                            <div class="metrics pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                        {% else %}
                            <div class="metrics goal has-tip tip-bottom" data-tooltip
                                 data-options="disable_for_touch:true" title="Too late to pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                            <div class="metrics pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </dd>
        {% endif %}
    {% endfor %}
    {% for course, grade in udemy_courses %}
        {% for pledge in pledges %}
            {% if pledge.course == course %}
                <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                    class="course {% if course.get_amount_progress >= 100 or pledge.is_done %}past{% else %}current{% endif %}">
                    <a
                        href="#panel{{ course.id }}a"
                        onclick="$('#filters').toggle();"
                        style="text-align: right; width: 33.333%; display: inline-block; font-weight: 700">{{ course.title|upper }}
                        <br/>Pledge Ending: {{ pledge.pledge_end_date }}
                    </a>

                    <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                        <div class="meter">
                            <span style="width: {{ pledge.get_amount_progress }}%"></span>
                        </div>
                        <div
                            style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                            <div class="metrics score">
                                <p style="font-size: 1rem">SCORE<br/>
                                    <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                            </div>
                            <div class="metrics goal">
                                <p>GOAL<br/>
                                    <span class="overall-mark">{{ pledge.get_aim|floatformat:"0" }}<sup>%</sup></span>
                                </p>
                            </div>
                            <div class="metrics pledge share-it" data-share="{{ course.title|upper }}"
                                 data-shareid="{{ course.id }}">
                                <p>PLEDGE<br/>
                                    <span class="overall-mark">${{ pledge.money }}</span></p>
                            </div>
                        </div>
                    </div>
                </dd>
                {{ forloop|break }}
            {% elif forloop.counter == pledges.count %}
                <dd style="overflow: hidden; position: relative"
                    class="course {% if course.get_amount_progress >= 100 or grade >= 100 %}past{% else %}current{% endif %}">
                    <a href="#panel{{ course.id }}a"
                       onclick="$('#filters').toggle();"
                       style="text-align: right; width: 33.333%; display: inline-block; font-weight: 700">{{ course.title|upper }}
                    </a>

                    <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                        <div class="meter">
                            <span style="width: {{ course.get_amount_progress }}%"></span>
                        </div>
                        <div
                            style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                            <div class="metrics score">
                                <p style="font-size: 1rem">SCORE<br/>
                                    <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                            </div>
                            {% if course.get_amount_progress <= 50 and grade < 25 %}
                                <div class="metrics goal pledge-start has-tip tip-bottom udemy"
                                     data-class="{{ course.title|upper }}" data-end="{{ course.end_date }}"
                                     data-id="{{ course.id }}" data-tooltip
                                     data-options="disable_for_touch:true" title="Make a pledge"><p>
                                    <img src="{% static 'images/pledge-icon.png' %}" width="50"
                                         style="display: inline"></p>
                                </div>
                                <div class="metrics pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                            {% else %}
                                <div class="metrics goal has-tip tip-bottom" data-tooltip
                                     data-options="disable_for_touch:true" title="Too late to pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                                <div class="metrics pledge">
                                    <p><strong>&#151; &#151;</strong></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </dd>
            {% endif %}
        {% endfor %}
        {% if not pledges %}
            <dd style="overflow: hidden; position: relative" data-id="{{ course.id }}"
                class="course {% if course.get_amount_progress >= 100 or grade >= 100 %}past{% else %}current{% endif %}">
                <a href="#panel{{ course.id }}a"
                   onclick="$('#filters').toggle();"
                   style="text-align: right; width: 33.333%; display: inline-block; font-weight: 700">{{ course.title|upper }}
                </a>

                <div style="margin: 0 0 0 2em; display: inline !important; height: 100%">
                    <div class="meter">
                        <span style="width: {{ course.get_amount_progress }}%"></span>
                    </div>
                    <div
                        style="font-size: 0;display: inline-block; width: 30%; height: 100%; position: absolute; right: 0">
                        <div class="metrics score">
                            <p style="font-size: 1rem">SCORE<br/>
                                <span class="overall-mark">{{ grade|floatformat:"0" }}<sup>%</sup></span></p>
                        </div>
                        {% if course.get_amount_progress <= 50 and grade < 25 %}
                            <div class="metrics goal pledge-start has-tip tip-bottom udemy"
                                 data-class="{{ course.title|upper }}" data-end="{{ course.end_date }}"
                                 data-id="{{ course.id }}" data-tooltip
                                 data-options="disable_for_touch:true" title="Make a pledge"><p>
                                <img src="{% static 'images/pledge-icon.png' %}" width="50"
                                     style="display: inline"></p>
                            </div>
                            <div class="metrics pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                        {% else %}
                            <div class="metrics goal has-tip tip-bottom" data-tooltip
                                 data-options="disable_for_touch:true" title="Too late to pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                            <div class="metrics pledge">
                                <p><strong>&#151; &#151;</strong></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </dd>
        {% endif %}
    {% endfor %}
    </dl>
    </div>
    </div>
    </div>
    {% for course, grade in coursera_courses %}
        <div class="class-progress row wide-row" id="course_graph_{{ course.id }}"
             style="display: none; max-height: 400px">
            <div class="large-4 columns">
                <div class="row">
                    <dl class="tabs vertical" style="width: 100%" data-tab>
                        {% for progress in progresses %}
                            {% if progress.quiz.course == course %}
                                <dd><a href="#"><p style="font-size: 1rem"
                                                   id="quiz-{{ progress.id }}">{{ progress|safe }}<br/>
                                    {% if progress.pledgequiz %}
                                        PLEDGE: ${{ progress.pledgequiz.money }} to get {{ progress.pledgequiz.aim }}.
                                        Due: {{ progress.pledgequiz.pledge_end_date }}
                                    {% endif %}</p></a></dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="large-8 columns" style="height: 400px">
                <canvas id="canvas_{{ course.id }}" height="400" width="800"></canvas>
            </div>
        </div>
    {% endfor %}
    {% for course, grade in edx_courses %}
        <div class="class-progress row wide-row" id="course_graph_{{ course.id }}"
             style="display: none; max-height: 400px">
            <div class="large-4 columns">
                <div class="row">
                    <dl class="tabs vertical" style="width: 100%" data-tab>
                        {% for progress in progresses %}
                            {% if progress.quiz.course == course %}
                                <dd><a href="#"><p style="font-size: 1rem"
                                                   id="quiz-{{ progress.id }}">{{ progress|safe }}<br/>
                                    {% if progress.pledgequiz %}
                                        PLEDGE: ${{ progress.pledgequiz.money }} to get
                                        {{ progress.pledgequiz.get_aim|floatformat:"0" }}%.
                                        Due: {{ progress.pledgequiz.pledge_end_date }}
                                    {% endif %}</p></a></dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="large-8 columns" style="height: 400px">
                <canvas id="canvas_{{ course.id }}" height="400" width="800"></canvas>
            </div>
        </div>
    {% endfor %}
    {% for course, grade in udemy_courses %}
        <div class="class-progress row wide-row" id="course_graph_{{ course.id }}"
             style="display: none; max-height: 400px">
            <div class="large-4 columns">
                <div class="row">
                    <dl class="tabs vertical" style="width: 100%" data-tab>
                        {% for progress in progresses %}
                            {% if progress.quiz.course == course %}
                                <dd><a href="#"><p style="font-size: 1rem"
                                                   id="quiz-{{ progress.id }}">{{ progress|safe }}
                                </p></a></dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="large-8 columns" style="height: 400px">
                <canvas id="canvas_{{ course.id }}" height="400" width="800"></canvas>
            </div>
        </div>
    {% endfor %}
    <div class="light-box" id="share-box">
        <i class="fa fa-times-circle-o close" style="margin-top: -25px; margin-right: -30px; float: right"></i>

        <div id="share-title"></div>
        <button class="btn-auth btn-facebook" id="share-facebook" type="submit">Share
            on <b>Facebook</b>
        </button>
        <a class="twitter popup"
           href="">
            <button class="btn-auth btn-twitter" id="share-twitter" type="submit">Share
                on <b>Twitter</b>
            </button>
        </a>
    </div>
    <div class="light-box" id="pledge-box">
        <i class="fa fa-times-circle-o close" style="margin-top: -25px; margin-right: -30px; float: right"></i>

        <div class="row" id="select-type">
            <button id="for-course" style="margin-top: 0">FOR ENITRE COURSE</button>

            <p style="text-align: center; margin-top: 1.25rem">OR</p>

            <button id="for-assignment" style="margin-top: 0">FOR INDIVIDUAL ASSIGNMENT</button>
        </div>

        <div class="row" id="making-pledge">
            <div id="class-title"></div>
            <input type="hidden" id="class-id">

            <div class="summary row">
                <div class="large-4 columns">
                    <p>STUDENTS</p>

                    <p id="number_pledges">0</p>
                </div>
                <div class="large-4 columns">
                    <p>AVG. PLEDGE</p>

                    <p id="avg_aim">N/A</p>
                </div>
                <div class="large-4 columns">
                    <p>REWARD</p>

                    <p id="probable_reward"><sup>$</sup>0</p>
                </div>
            </div>
            <div class="row">
                <select id="quizzes" style="margin-top: 10px">

                </select>
            </div>
            <div style="position: relative; overflow: hidden; min-height: 7em">
                <label for="datepicker">Pledge Completion Date:
                    <input type="text" id="datepicker" name="date"></label>
            </div>
            <div style="position: relative; overflow: hidden">
                <div id="goal-slider">
                </div>
                <div class="right">
                    <p style="margin-bottom: 0; font-size: 1rem">GOAL</p>

                    <p style="margin-bottom: 0" id="goal-value">75<sup>%</sup></p>
                </div>
            </div>
            <div style="position: relative; overflow: hidden">

                <div id="pledge-slider">
                </div>
                <div class="right">
                    <p style="margin-bottom: 0;  font-size: 1rem">PLEDGE</p>

                    <p style="margin-bottom: 0" id="pledge-value"><sup>$</sup>30</p>
                </div>
            </div>
            <button id="chose-pledge">Save Goal and Pledge</button>
        </div>
        <div class="row" style="display: none" id="chose-option">
            <script id="paypal-button" src="{% static 'js/paypal-button.js' %}?merchant=QNX9EHTPA4ULW"
                    data-button="buynow"
                    data-name="Pledge"
                    data-quantity="1"
                    data-amount="12"
                    data-currency="USD"
                    data-shipping="0"
                    data-tax="0"
                    data-callback="https://{{ request.get_host }}/pledges/paypal/"
                ></script>
            <p style="text-align: center; margin-top: 1.25rem">OR</p>

            <button id="make-pledge" style="margin-top: 0">USING CREDIT CARD</button>
            <br/>
            <button id="back-to-pledge">EDIT PLEDGE</button>
        </div>
    </div>
    <div id="other-messages" class="light-box">
        <i class="fa fa-times-circle-o close" style="margin-top: -25px; margin-right: -30px; float: right"></i>

        <div class="row text-center" id="other-message">
        </div>
    </div>
    <div id="add-courses" class="light-box">
        <p style="text-align: center" id="settings-title"><strong>ADD PLATFORMS</strong></p>

        <div class="row" id="platform-options">
            {% if  user.courseraprofile.username == '' or user.courseraprofile.incorrect_login %}
                <div class="row extra-top-margin text-center">
                    <button id="add-coursera"
                            style="{% if user.courseraprofile.incorrect_login %}border: solid 1px red{% endif %}">
                        {% if user.courseraprofile.incorrect_login %}Edit{% else %}Add{% endif %} Coursera Account
                    </button>
                </div>
            {% endif %}
            {% if  user.edxprofile.email == '' or user.edxprofile.incorrect_login %}
                <div class="row extra-top-margin text-center">
                    <button id="add-edx"
                            style="{% if user.edxprofile.incorrect_login %}border: solid 1px red{% endif %}">
                        {% if user.edxprofile.incorrect_login %}Edit{% else %}Add{% endif %} edX Account
                    </button>
                </div>
            {% endif %}
            {% if  user.udemyprofile.email == '' or user.udemyprofile.incorrect_login %}
                <div class="row extra-top-margin text-center">
                    <button id="add-udemy"
                            style="{% if user.udemyprofile.incorrect_login %}border: solid 1px red{% endif %}">
                        {% if user.udemyprofile.incorrect_login %}Edit{% else %}Add{% endif %} Udemy Account
                    </button>
                </div>
            {% endif %}

            <div class="row extra-top-margin text-center">
                <button id="force-ref" class="close">
                    Refresh from Platforms
                </button>
            </div>
        </div>
        <form id="add-platform" action="{% url 'users:index_alt' %}"
              method="post" style="display: none">
            {% csrf_token %}
            <p>Be sure to enter the same username/password as you use to login to the platform.</p>
            <input type="hidden" value="coursera" name="platform" id="platform_name"/>

            <input type="email" name="username" class="form-control" id="add-username"
                   placeholder="Coursera Email">
            <input type="password" name="password" class="form-control" id="add-password"
                   placeholder="Coursera Password">
            <button type="submit" class="btn btn-primary btn-lg">Add Account</button>
        </form>
    </div>
    <div id="incorrect-lightbox" class="light-box">
        <div class="row text-center">
            Incorrect Login. Please confirm and try again.
        </div>
    </div>

    <div id="force-up" class="light-box">
        <div class="row text-center">
            Updating. Refresh in a bit.
        </div>
    </div>
    <div id="coursera-wait" class="light-box">
        <div class="row text-center">
            Getting your courses, give us a few minutes!
        </div>
        <div class="row extra-top-margin text-center">
            <div class="large-12 columns large-centered">
                <a href="/learn-more">
                    <button class="btn btn-primary btn-large">Learn More</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.tooltip.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/jquery.hoverscroll.js' %}"></script>
    <script src="{% static 'js/pickaday.js' %}"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
    $(function () {
        $('.past').hide();
        $('.current').show();
        $('#past-filt').click(function () {
            $('.past').show();
            $('.current').hide();
            $('#filters').find('p').removeClass('selected-news');
            $(this).addClass('selected-news');
        });

        $('#force-ref').click(function () {
            $.post('{% url 'users:force_update' %}', function () {
                $('#add-courses').trigger('close');
                $('#force-up').lightbox_me({centered: true});
            });
        });

        $('#current-filt').click(function () {
            $('.past').hide();
            $('.current').show();
            $('#filters').find('p').removeClass('selected-news');
            $(this).addClass('selected-news');
        });
        if (!window.location.origin)
            window.location.origin = window.location.protocol + "//" + window.location.host;
        if (RegExp('incorrect', 'gi').test(window.location.search)) {
            $('#incorrect-lightbox').lightbox_me({centered: true});
            setTimeout(function () {
                $('#incorrect-lightbox').trigger('close');
            }, 3000);
        }
        {% if onboarding %}
            $('#coursera-wait').lightbox_me({centered: true, closeEsc: false, closeClick: false});

            var intervalUpdated = null;

            function checkIfUpdated() {
                $.get("{% url 'users:check_update' %}", function (res) {
                    if (res['updated'] == true) {
                        clearInterval(intervalUpdated);
                        if (res['incorrect'] == true) {
                            location.href = '{% url 'users:index' %}?incorrect=true';
                        } else {
                            $('#coursera-wait').trigger('close');
                            location.reload();
                        }
                    }
                });
            }
            intervalUpdated = setInterval(checkIfUpdated, 200);
        {% endif %}

        $('#all-filt').click(function () {
            $('.past').show();
            $('.current').show();
            $('#filters').find('p').removeClass('selected-news');
            $(this).addClass('selected-news');
        });
        var full = true;
        $('.course').find('a').click(function () {
            if (full) {
                $('.course').hide();
                $(this).parent().show();
                $(this).parent().addClass('active');
                $(this).prepend('<i class="fa fa-chevron-left left"></i>');
                $('#course_graph_' + $(this).parent().data('id')).show();
                full = false;
            } else {
                full = true;
                $('.course').show();
                $('#course_graph_' + $(this).parent().data('id')).hide();
                $(this).parent().removeClass('active');
                $(this).parent().find('i').remove();
            }
        });
        $('.class-progress').find('dl').hoverscroll({
            vertical: true,
            width: 333,
            height: 400,
            arrows: true,
            arrowsOpacity: 0.5,
        });
        var projected_amount = 5;
        var average_aim = 75;
        var current_name = "";
        var current_id;
        var current_date;
        var picker;
        var udemy = false;
        $('.pledge-start').click(function () {
            $('#select-type').show();
            $('#making-pledge').hide();
            var $clicked = $(this);
            current_id = $clicked.data('id');
            current_name = $clicked.data('class');
            current_date = $clicked.data('end');
            udemy = $clicked.hasClass('udemy');
            $("#goal-slider").slider('value', 75);
            $("#pledge-slider").slider('value', 30);
            $('#class-title').html('<p>' + current_name + '</p>');
            $('#class-id').val(current_id);
            $('#number_pledges').text(0);
            $('#avg_aim').html('N/A');
            $('#probable_reward').html('N/A');
            $('#chose-option').hide();
            $('#quizzes').empty();
            $('#datepicker').css('border', '1px solid #ccc;');
            $.get('{% url 'users:get_course_stats' %}', {'id': current_id}, function (data) {
                if (parseInt(data['fail']) == 0) {
                    if (parseInt(data['count']) != 0) {
                        $('#number_pledges').text(data['count']);
                        $('#avg_aim').html(data['avg_aim'] + '<sup>%</sup>');
                        average_aim = parseInt(data['avg_aim']);
                        projected_amount = parseInt(data['probable_reward']);
                    }
                    if (!udemy) {
                        $('#probable_reward').html('<sup>$</sup>' + data['probable_reward']);
                    }
                    var now = new Date();
                    if (!picker) {
                        picker = new Pikaday({ field: document.getElementById('datepicker'),
                            minDate: now,
                            setDefaultDate: true,
                            position: 'top left'
                        });
                    }
                    if (current_date && current_date != "None") {
                        picker.setDate(current_date);
                        $('#datepicker').val(picker.getDate());
                        $('#datepicker').prop('disabled', true);
                    } else {
                        now.setDate(now.getDate());
                        picker.setDate(now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate());
                        $('#datepicker').val(picker.toString('YYYY-MM-DD'));
                        $('#datepicker').prop('disabled', false);
                    }
                    if (data['quizzes'].length == 0 || udemy) {
                        $('#select-type').hide();
                        $('#quizzes').hide();
                        for_quiz = false;
                        $('#making-pledge').show();
                    } else {
                        var $quiz = $('#quizzes');
                        for (var i = 0; i < data['quizzes'].length; i++) {
                            if (data['quizzes'][i][2] != "None") {
                                $quiz.append('<option value="' + data['quizzes'][i][1] + '" data-date="' + data['quizzes'][i][2] + '">' + data['quizzes'][i][0] + '</option>');
                            } else if (data['quizzes'][i][3] != "None") {
                                $quiz.append('<option value="' + data['quizzes'][i][1] + '" data-date="' + data['quizzes'][i][3] + '">' + data['quizzes'][i][0] + '</option>');
                            } else {
                                $quiz.append('<option value="' + data['quizzes'][i][1] + '" data-date="None">' + data['quizzes'][i][0] + '</option>');
                            }
                        }
                    }
                }
                $('#pledge-box').lightbox_me({centered: true});
            });
        });
        var for_quiz = false;
        $('#for-course').click(function () {
            for_quiz = false;
            $('#select-type').hide();
            $('#quizzes').hide();
            $('#making-pledge').show();
        });

        $('#for-assignment').click(function () {
            for_quiz = true;
            $('#select-type').hide();
            var $quiz = $('#quizzes');
            $quiz.show();
            if ($quiz.find(":selected").data('date') != "None") {
                picker.setDate($quiz.find(":selected").data('date'));
                $('#datepicker').val(picker.getDate());
            }
            $('#probable_reward').text('N/A');
            $('#making-pledge').show();
        });

        $('#quizzes').change(function () {
            if ($(this).find(":selected").data('date') != "None") {
                picker.setDate($(this).find(":selected").data('date'));
                $('#datepicker').val(picker.getDate());
            }
        });

        $("#goal-slider").slider({
            value: 75,
            range: "min",
            min: 0,
            step: 5,
            max: 100,
            slide: function (event, ui) {
                if (ui.value <= 45) {
                    return false;
                }
                if (!for_quiz) {
                    $('#goal-value').html(ui.value.toString() + '<sup>%</sup>');
                    var value =
                        projected_amount *
                            (1 + (ui.value / 100 - average_aim / 100) / (average_aim / 100));
                    if (isNaN(value)) {
                        value = 10;
                    }
                    value = Math.round(value * 100) / 100;
                    $('#probable_reward').html('<sup>$</sup>' + value.toString());
                }
            }
        });
        $("#pledge-slider").slider({
            value: 30,
            range: "min",
            min: 0,
            step: 5,
            max: 100,
            slide: function (event, ui) {
                if (ui.value < 5) {
                    return false;
                }
                $('#pledge-value').html('<sup>$</sup>' + ui.value.toString());
            }
        });
        //Test Url: http://projectwisely.com/pledges/create_ajax?course=1&money=10&aim=100&date=2014-5-31&user=1
        $('#chose-pledge').click(function () {
            var $paypal = $('.paypal-button');
            $paypal.find('input[name=item_name]').val('Pledge for ' + current_name);
            var money = parseInt($('#pledge-value').text().replace('$', ''));
            $paypal.find('input[name=amount]').val(money);
            var date = picker.getDate();
            if (!date || date == null) {
                $('#datepicker').css('border', 'solid red 1px');
                return;
            } else {
                $('#datepicker').css('border', '1px solid #ccc;');
            }
            date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
            var aim = parseInt($('#goal-value').text().replace('%', ''));
            $paypal.find('input[name=notify_url]').val('https://{{ request.get_host }}/pledges/paypal/');
            var $quiz = $('#quizzes');
            if ($quiz.is(":visible") == true) {
                $paypal.append('<input type="hidden" name="custom" value="' + current_id + ',' + money + ',' + aim + ',' + date + ',' + '{{ request.user.userprofile.id }},' + $quiz.val() + '"/>').val();
            } else {
                $paypal.append('<input type="hidden" name="custom" value="' + current_id + ',' + money + ',' + aim + ',' + date + ',' + '{{ request.user.userprofile.id }}"/>').val();
            }
            $('#making-pledge').hide();
            $('#chose-option').show();
        });

        $('#back-to-pledge').click(function () {
            $('#making-pledge').show();
            $('#chose-option').hide();
        });
        $('#make-pledge').click(function () {
            var token = function (res) {
                var date = picker.getDate();
                date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                var post_data = {'stripeToken': res.id, 'course': current_id, 'money': money,
                    'aim': aim, 'date': date
                };
                var $quiz = $('#quizzes');
                if (for_quiz) {
                    post_data['quiz'] = $quiz.val();
                }
                $.post('{% url 'pledges:create_ajax' %}', post_data, function (data) {
                    if (parseInt(data['fail']) == 0) {
                        if (parseInt(data['quiz']) == 0) {
                            $('div[data-id="' + current_id.toString() + '"]').html('<p>GOAL<br/><span class="overall-mark">' + aim.toString() + '<sup>%</sup></span></p>');
                            var $new_share = $('div[data-id="' + current_id.toString() + '"] + div');
                            $new_share.html('<p>PLEDGE<br/><span class="overall-mark">$' + money.toString() + '</span></p>');
                            $new_share.data('share', current_name);
                            $new_share.data('shareid', data['id']);
                            $new_share.addClass('share-it');
                            temp_div[$new_share] = $new_share.html();
                        } else {
                            $('#quiz-' + data['id']).append('<p>PLEDGE: $' + money.toString() + ' to get ' + aim.toString() + ' Due: ' + date + '</p>')
                        }
                        $('#make-pledge').trigger('close');
                    } else {
                        $('#other-message').text(data['message']);
                        $('#make-pledge').trigger('close');
                        $('#other-messages').lightbox_me({centered: true});
                    }
                });
            };
            var money = parseInt($('#pledge-value').text().replace('$', ''));
            var aim = parseInt($('#goal-value').text().replace('%', ''));
            if (!isNaN(money)) {
                StripeCheckout.open({
                    key: 'pk_test_GUMeKfQZ4BkZzS5GyaZzG7Qb',
                    address: false,
                    amount: money * 100,
                    currency: 'cad',
                    name: "Pledge",
                    description: "For " + current_name,
                    panelLabel: 'Pledge ',
                    token: token
                });
            }
        });
        var share_name = "";
        var share_id = 0;
        var temp_div = {};
        $('.share-it').each(function (index, value) {
            temp_div[$(this)] = $(this).html();
        });
        $('.share-it').hover(function () {
            $(this).html('<p><img src="{% static 'images/connect-icon.png' %}" valign="middle" style="display: inline"></p>');
        }, function () {
            $(this).html(temp_div[$(this)]);
        });

        $('.share-it').click(function () {
            share_name = $(this).data('share');
            share_id = parseInt($(this).data('shareid'));
            var $share_box = $('#share-box');
            $('#share-title').html('<p>' + share_name + '</p>');
            $share_box.find('.twitter').attr('href', get_twitter_string());
            $share_box.lightbox_me({centered: true});
        });

        $('#settings-icon').click(function () {
            $('#add-courses').lightbox_me({centered: true});
        });

        $("#add-edx").click(function () {
            $('#platform-options').hide();
            $('#add-platform').show();
            $('#platform_name').val('edx');
            $('#settings-title').val('edX');
            $('#add-username').attr('placeholder', 'edX Email');
            $('#add-username').attr('type', 'email');
            $('#add-password').attr('placeholder', 'edX Password');
        });

        $("#add-udemy").click(function () {
            $('#platform-options').hide();
            $('#add-platform').show();
            $('#platform_name').val('udemy');
            $('#settings-title').val('Udemy');
            $('#add-username').attr('placeholder', 'Udemy Email');
            $('#add-username').attr('type', 'email');
            $('#add-password').attr('placeholder', 'Udemy Password');
        });

        $("#add-coursera").click(function () {
            $('#platform-options').hide();
            $('#add-platform').show();
            $('#platform_name').val('coursera');
            $('#settings-title').val('Coursera');
            $('#add-username').attr('placeholder', 'Coursera Username');
            $('#add-username').attr('type', 'email');
            $('#add-password').attr('placeholder', 'Coursera Password');
        });

        $('#share-facebook').click(function () {
            FB.ui(
                {
                    method: 'feed',
                    name: 'Pledge for ' + share_name,
                    description: (
                        'I' + ' have just made a' +
                            ' pledge for ' + share_name + ', help me stay motivated by following the pledge.'
                        ),
                    link: 'http://www.projectwisely.com/follow/' + share_id.toString(),
                    picture: 'http://www.fbrell.com/public/f8.jpg'
                },
                function (response) {
                    if (response && response.post_id) {
                    } else {
                    }
                }
            );
        });

        function get_twitter_string() {
            return "http://twitter.com/share?text=Just%20made%20a%20pledge%20for%20" + share_name + "%2C%20help%20me%20stay%20motivated%20by%20following%20the%20pledge!&url=http://www.projectwisely.com/follow/" + share_id;
        }

        var barChartData;

        var options = {scaleSteps: 5,
            //Number - The value jump in the hard coded scale
            scaleStepWidth: 20,
            //Number - The scale starting value
            scaleStartValue: 0,
            animation: false,
            scaleOverride: true};
        {% for course, grade in coursera_courses %}
            var data_{{ course.id }} = [];
            var labels_{{ course.id }} = [];
            {% for progress in progresses %}
                {% if progress.quiz.course == course %}
                    data_{{ course.id }}.push({{ progress.parse_to_percentage }});
                    labels_{{ course.id }}.push(data_{{ course.id }}.length);
                {% endif %}
            {% endfor %}
            barChartData = {
                labels: labels_{{ course.id }},
                datasets: [
                    {
                        fillColor: "rgba(151, 211, 137, 1)",
                        strokeColor: "rgba(151, 211, 137, 1)",
                        data: data_{{ course.id }}
                    },
                ]
            };

            new Chart(document.getElementById("canvas_{{ course.id }}").getContext("2d")).Bar(barChartData, options);
        {% endfor %}
        {% for course, grade in edx_courses %}
            var data_{{ course.id }} = [];
            var labels_{{ course.id }} = [];
            {% for progress in progresses %}
                {% if progress.quiz.course == course %}
                    data_{{ course.id }}.push({{ progress.parse_to_percentage }});
                    labels_{{ course.id }}.push(data_{{ course.id }}.length);
                {% endif %}
            {% endfor %}
            barChartData = {
                labels: labels_{{ course.id }},
                datasets: [
                    {
                        fillColor: "rgba(151, 211, 137, 1)",
                        strokeColor: "rgba(151, 211, 137, 1)",
                        data: data_{{ course.id }}
                    },
                ]
            };

            new Chart(document.getElementById("canvas_{{ course.id }}").getContext("2d")).Bar(barChartData, options);

        {% endfor %}
        {% for course, grade in udemy_courses %}
            var data_{{ course.id }} = [];
            var labels_{{ course.id }} = [];
            {% for progress in progresses %}
                {% if progress.quiz.course == course %}
                    data_{{ course.id }}.push({{ progress.parse_to_percentage }});
                    labels_{{ course.id }}.push(data_{{ course.id }}.length);
                {% endif %}
            {% endfor %}
            barChartData = {
                labels: labels_{{ course.id }},
                datasets: [
                    {
                        fillColor: "rgba(151, 211, 137, 1)",
                        strokeColor: "rgba(151, 211, 137, 1)",
                        data: data_{{ course.id }}
                    },
                ]
            };

            new Chart(document.getElementById("canvas_{{ course.id }}").getContext("2d")).Bar(barChartData, options);

        {% endfor %}
    });
    </script>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '405339162934237',
                status: true,
                xfbml: true
            });
        };
        $(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        });

        $('.popup').click(function (event) {
            var width = 575,
                height = 400,
                left = ($(window).width() - width) / 2,
                top = ($(window).height() - height) / 2,
                url = this.href,
                opts = 'status=1' +
                    ',width=' + width +
                    ',height=' + height +
                    ',top=' + top +
                    ',left=' + left;

            window.open(url, 'twitter', opts);

            return false;
        });

    </script>
{% endblock %}