{% extends 'base-app-alt.html' %}
{% load staticfiles %}
{% block headers_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-news.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-profile.css' %}"/>
{% endblock %}
{% load humanize %}
{% load inbox %}
{% block nav-bar %}
    {% include 'nav-bar-alt.html' with activites="True" %}
{% endblock %}
{% block content %}
    <div class="row wide-row" style="{% if request.is_mobile %}width: 100%{% endif %}">
    {% if viewed_user == request.user %}
        <div class="large-4 columns"
             style="border-right: solid #D2D4D5 1px;  padding-top: 80px;">
            <div class="row">
                <dl class="tabs vertical" style="width: 100%; height: 28em" data-tab>
                    <dd class="active"><a href="#panel1a"><i class="fa fa-bolt"></i>Recent Activities</a></dd>
                    <dd><a href="#panel3a"><i class="fa fa-list"></i>Achievements</a>
                    </dd>
                    <dd><a href="#panel4a" id="acheivements-panel"><i class="fa fa-certificate"></i>Rewards</a>
                    </dd>
                    <dd><a href="#panel5a"><i class="fa fa-users"></i>Followers</a></dd>
                    <dd><a href="#panel6a"><i class="fa fa-user"></i>Following</a></dd>
                </dl>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="large-3 small-3 columns">
                    <img src="{% static 'images/plus.png' %}" style="width: 75%; margin-top: 14px">
                </div>
                <div class="large-9 small-9 columns">
                    <div style="margin-top: 20px; margin-left: -10px">
                        <p style="color: #1E5376; font-size: 1.5em; font-weight: 300">Who To Follow</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <ul class="follow-list">
                    {% for follow in who_to_follow %}
                        <li id="follow_{{ follow.id }}">
                            <a href="{% url 'users:public_profile' follow.user.id %}">
                                <div class="row" style="margin: 3% 3%;">
                                    <div class="large-3 columns" style="padding: 0 4%;margin-left: -10px;">
                                        <img {% if follow.picture %}src="/media/{{ follow.picture }}"
                                             {% else %}src="{% static 'images/default-profile-img.png' %}"{% endif %}
                                             class="pull-left img-circle">
                                    </div>
                                    <div class="large-6 columns">
                                        <div>
                                            <h3 style="font-weight: 400; font-size: 0.9em;margin-left: -10px;">{{ follow.user.first_name }} {{ follow.user.last_name }}</h3>
                                            {% if follow.headline %}
                                                <p style="font-weight: 400; font-size: 0.9em;margin-left: -10px;">{{ follow.headline }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="large-3 columns plus-i"
                                         style="text-align: center; color: #58595b; font-size: 1.5em"
                                         onclick="follow_add({{ follow.id }}, '{{ follow.user.first_name }} {{ follow.user.last_name }}');">
                                        +
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="large-8 columns" style="padding-top: 80px">
    {% else %}
        <div class="large-12 columns" style="padding-top: 80px">
    {% endif %}

    {% if public == False %}
        <div id="partial-profile">
            {% include 'users/_profile-alt.html' %}
        </div>
    {% else %}
        <span id="partial-profile">
            {% include 'users/_public-profile-alt.html' %}
        </span>
    {% endif %}

    <div class="row">
    <div class="large-12 columns">
    <div class="tabs-content vertical" style="width: 100%; margin-top: 2em">
    <div class="content active" id="panel1a">
        {% if viewed_user != request.user %}
            <div class="row">
            <div class="large-6 columns"><h3>Courses</h3>
                {% for course in viewed_user.courseraprofile.courses.all %}
                    <div class="large-6 columns">
                        <div class="course-panel">
                            <a href="{{ course.course_link }}"><strong>{{ course.title }}</strong></a>

                            <p>Coursera</p>
                        </div>
                    </div>
                {% endfor %}
                {% for course in viewed_user.edxprofile.courses.all %}
                    <div class="large-6 columns">
                        <div class="course-panel">
                            <a href="{{ course.course_link }}"><strong>{{ course.title }}</strong></a>

                            <p>edX</p>
                        </div>
                    </div>
                {% endfor %}
                {% for course in viewed_user.udemyprofile.courses.all %}
                    <div class="large-6 columns">
                        <div class="course-panel">
                            <a href="{{ course.course_link }}"><strong>{{ course.title }}</strong></a>

                            <p>Udemy</p>
                        </div>
                    </div>
                {% endfor %}</div>
            <div class="large-6 columns">{% endif %}
        <h3>Activities</h3>
        {% if feeds %}
            <div style="margin-top: 50px; margin-left: 90px;">
                <span class="today-button">Today</span>
            </div>
        {% endif %}
        <ul id='timeline-profile'>
            {% for feed in feeds %}
                {% if feed.actor_content_type.name == "user" and feed.actor.first_name %}
                    <li class='work-profile'>
                        <input class='radio' type='radio' checked>

                        <div class="relative">
                            <span class='date-profile'>{{ feed.timestamp|naturaltime }}</span>
                            <span class='circle-profile'></span>
                        </div>
                        <div class='content-profile'>
                            <p>
                                <a href="/users/profile/{{ feed.actor_object_id }}">
                                    {{ feed.actor.first_name }} {{ feed.actor.last_name }}
                                </a>
                                {% if feed.actions_with_pledges_pledge_as_action_object == None %}
                                    <a href="/pledges/share/{{ feed.action_object_object_id }}">
                                {% endif %}
                                {{ feed.verb }}
                                {% if feed.actions_with_pledges_pledge_as_action_object == None %}
                                    </a>
                                {% endif %}
                                {% if feed.target %}
                                    {% if feed.actions_with_users_course_as_target == None %}
                                        <a href="{{ feed.target.course_link }}">{{ feed.target }}</a>
                                    {% else %}
                                        {{ feed.target }}
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if viewed_user != request.user %}
            </div></div>
        {% endif %}
    </div>
    {% if viewed_user == request.user %}
        <div class="content" id="panel3a">
            <div class="row">
                <h3>Completed Courses</h3>
                {% for course in viewed_user.courseraprofile.courses.all %}
                    {% if course.get_amount_progress >= 100 %}
                        <div class="large-6 columns">
                            <div class="course-panel">
                                <a href="{{ course.course_link }}"><strong>{{ course.title }}</strong></a>

                                <p>Coursera</p>
                                {% for pledge in completed_pledges %}
                                    {% if pledge.course == course %}
                                        <hr style="border: solid 0.2em #05A551; width: 100%">
                                        <div class="row">
                                            <div class="large-4 small-4 columns"><p>SCORED<br>
                                                <span class="overall-mark">{{ pledge.get_actual_mark }}
                                                <sup>%</sup></span></div>
                                            <div class="large-4 small-4 columns"><p>GOAL<br>
                                                <span class="overall-mark">{{ pledge.get_aim }}<sup>%</sup></span></div>
                                            <div class="large-4 small-4 columns"><p>REWARD<br>
                                                {% if pledge.reward_set.0 %}
                                                    <span
                                                        class="overall-mark"><sup>$</sup>{{ pledge.reward_set.0.money }}</span>
                                                {% else %}
                                                    <span class="overall-mark"><sup>$</sup>0</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for course in viewed_user.edxprofile.courses.all %}
                    {% if course.get_amount_progress >= 100 %}
                        <div class="large-6 columns">
                            <div class="course-panel">
                                <a href="{{ course.course_link }}"><strong>{{ course.title }}</strong></a>

                                <p>edX</p>
                                {% for pledge in completed_pledges %}
                                    {% if pledge.course == course %}
                                        <hr style="border: solid 0.2em #05A551; width: 100%">
                                        <div class="row">
                                            <div class="large-4 small-4 columns"><p>SCORED<br>
                                                <span class="overall-mark">{{ pledge.get_actual_mark }}
                                                <sup>%</sup></span></div>
                                            <div class="large-4 small-4 columns"><p>GOAL<br>
                                                <span class="overall-mark">{{ pledge.get_aim }}<sup>%</sup></span></div>
                                            <div class="large-4 small-4 columns"><p>REWARD<br>
                                                <span
                                                    class="overall-mark"><sup>$</sup>{{ pledge.reward_set.0.money }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for course in viewed_user.udemyprofile.courses.all %}
                    {% if course.get_amount_progress >= 100 %}
                        <div class="large-6 columns">
                            <div class="course-panel">
                                <a href="{{ course.course_link }}"><strong>{{ course.title }}</strong></a>

                                <p>Udemy</p>
                                {% for pledge in completed_pledges %}
                                    {% if pledge.course == course %}
                                        <hr style="border: solid 0.2em #05A551; width: 100%">
                                        <div class="row">
                                            <div class="large-4 small-4 columns"><p>SCORED<br>
                                                <span class="overall-mark">{{ pledge.get_actual_mark }}
                                                <sup>%</sup></span></div>
                                            <div class="large-4 small-4 columns"><p>GOAL<br>
                                                <span class="overall-mark">{{ pledge.get_aim }}<sup>%</sup></span></div>
                                            <div class="large-4 small-4 columns"><p>REWARD<br>
                                                <span
                                                    class="overall-mark"><sup>$</sup>{{ pledge.reward_set.0.money }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="content" id="panel4a">
            {% if rewards %}
                {% for reward in rewards %}
                    <div class="row" style="margin-top: 2em" data-equalizer>
                        <div class="large-6 columns panel-white" data-equalizer-watch>
                            {% if reward.pledge %}
                                <h4 class="media-heading innerT"><a href=""
                                                                    class="text-inverse">{{ reward.pledge.course }}</a> <span
                                    class="text-small"><i
                                    class="fa fa-fw fa-clock-o"></i>&nbsp; {{ reward.pledge.created }}</span>
                                </h4>
                            {% endif %}
                            <p>Your reward &nbsp;</p>

                            <h3 style="display: inline" class="cursive">
                                $ {{ reward.money|floatformat:2 }}</h3>

                            <p>{% if reward.pledge %} &nbsp; for
                                achieving
                                your goal of
                                get {{ reward.pledge.get_aim|floatformat:0 }}%{% endif %}</p>
                        </div>
                        <div class="large-6 columns panel-content" data-equalizer-watch
                             style="display: table">
                            <div style="display: table-cell; vertical-align: middle">
                                {% if reward.collected %}
                                    <button class="btn btn-primary btn-lg" disabled>Already
                                        Collected
                                    </button>
                                {% else %}
                                    <div class="widget-head"><h4 class="heading">Collect Your
                                        Rewards</h4><span
                                        class="collapse-toggle"></span></div>
                                    <div class="row centered">
                                        <div class="large-12 columns">
                                            <form action="{% url 'pledges:collect_reward' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ reward.id }}"
                                                       name="reward_id">
                                                <input type="text" placeholder="Your PayPal Email Address"
                                                       name="email"
                                                       class="form-control">
                                                <button type="submit">
                                                    Collect
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Looks like you have no rewards</h3>
                <h4>Create A Pledge Now to Start Earning Rewards</h4>
                <a href="{% url 'users:index_alt' %}">
                    <button>Create Pledge</button>
                </a>
            {% endif %}
        </div>
        <div class="content" id="panel5a">
            {% if followers %}
                <ul class="follower-list">
                    {% for follower in followers %}
                        <li><a href="{% url 'users:public_profile' follower.user.id %}">
                            <div class="row" style="margin: 3% 5%;">
                                <div class="large-3 columns" style="padding: 0 4%;">
                                    <img {% if follower.picture %}src="/media/{{ follower.picture }}"
                                         {% else %}src="{% static 'images/default-profile-img.png' %}"{% endif %}
                                         class="pull-left img-circle small">
                                </div>
                                <div class="large-9 columns">
                                    <div>
                                        <h3 style="font-size: 16px">{{ follower.user.first_name }} {{ follower.user.last_name }}</h3>
                                        {% if follower.headline %}
                                            <p>{{ follower.headline }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No follower's yet!</p>
            {% endif %}
        </div>
        <div class="content" id="panel6a">
            {% if user_profile.follows.count != 0 %}
                <ul class="follower-list">
                    {% for following in user_profile.follows.all %}
                        <li><a href="{% url 'users:public_profile' following.user.id %}">
                            <div class="row" style="margin: 3% 5%;">
                                <div class="large-3 columns" style="padding: 0 4%;">
                                    <img {% if following.picture %}src="/media/{{ following.picture }}"
                                         {% else %}src="{% static 'images/default-profile-img.png' %}"{% endif %}
                                         class="pull-left img-circle small">
                                </div>
                                <div class="large-9 columns">
                                    <div>
                                        <h3 style="font-size: 16px">{{ following.user.first_name }} {{ following.user.last_name }}</h3>
                                        {% if following.headline %}
                                            <p>{{ following.headline }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> You are not following anyone yet!</p>
            {% endif %}
        </div>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>
    {% if public and viewed_user != request.user %}
        {% include 'django_messages/compose.html' with path=request.get_full_path %}
    {% endif %}
    <div id="other-messages" class="light-box">
        <i class="fa fa-times-circle-o close" style="margin-top: -25px; margin-right: -30px; float: right"></i>

        <div class="row text-center" id="other-message">
        </div>
    </div>
    </div>
{% endblock %}
{% block additionalScripts %}
    <script src="{% static 'js/foundation/foundation.tab.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.accordion.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>
    <script>
        $('#follow-button').click(function () {
            $.post('{% url 'users:follow' %}', {user_id: {{ viewed_user.id }} }).done(function (data) {
                if (data['HTTPRESPONSE'] == "1") {
                    $('#other-message').text('Now following {{ viewed_user.first_name }} {{ viewed_user.last_name }}');
                    $('#other-messages').show();
                    $('#follow-button').hide();
                } else {
                    $('#other-message').text('Something went wrong try again later');
                    $('#other-messages').show();
                }
            });
        });
        function follow_add(id, name) {
            $.post('{% url 'users:follow' %}', {user_id: id }).done(function (data) {
                if (data['HTTPRESPONSE'] == "1") {
                    $('#other-message').html('Now following <a href="/users/profile/' + id.toString() + '">' + name + '</a>');
                    $('#other-messages').lightbox_me({centered: true});
                    $('#follow_' + id.toString()).hide();
                } else {
                    $('#other-message').text('Something went wrong try again later');
                    $('#other-messages').lightbox_me({centered: true});
                }
            });
        }

        $(function () {
            $('#acheivements-panel').click(function () {
                setTimeout(function () {
                    $(document).foundation('equalizer', 'reflow');
                }, 10);

            });
        });

        function hideAllEdit() {
            $('#edit-headline').hide();
            $('#edit-email').hide();
            $('#edit-current_city').hide();
            $('#cancel-edit-profile').hide();
            $('#save-edit-profile').hide();
        }

        function showAllEdit() {
            $('#edit-headline').show();
            $('#edit-email').show();
            $('#edit-current_city').show();
            $('#cancel-edit-profile').show();
            $('#save-edit-profile').show();
            $('#edit-profile').hide();
        }

        function showAllField() {
            $('#headline').show();
            $('#email').show();
            $('#current_city').show();
            $('#edit-profile').show();
        }

        function hideAllField() {
            $('#headline').hide();
            $('#email').hide();
            $('#current_city').hide();
        }

        $(document).ready(function () {
            hideAllEdit();
            $('#edit-profile').live('click', function () {
                hideAllField();
                showAllEdit();
            });
            $('#save-edit-profile').live('click', function () {

                $.post('{% url 'users:edit_profile' %}', $('#user_profile_form').serialize(), function (data) {
                    var partial_render = data['parsed_html'];
                    console.log("partial-profile start rendering");
                    $('#partial-profile').html(partial_render);

                    if (!data['has_error']) {
                        hideAllEdit();
                        showAllField();
                    } else {
                        hideAllField();
                        showAllEdit();
                    }
                    console.log("partial-profile rendered");
                });
                event.preventDefault();
            });
            $('#cancel-edit-profile').live('click', function () {
                hideAllEdit();
                showAllField();
            });
        });
    </script>
{% endblock %}