{% extends 'base-app.html' %}
{% load staticfiles %}
{% block additionalHeaders %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-app.css' %}"/>
{% endblock %}
{% block nav-bar %}
    <li class=""><a href="{% url 'users:index' %}"><i class="fa fa-book"></i><span>Courses</span></a>
    </li>
    <li class=""><a href="{% url 'pledges:index' %}"><i
            class="fa fa-book"></i><span>Pledges</span></a>
    </li>
    <li class=""><a href="#"><i
            class="fa fa-book"></i><span>More Coming Soon!</span></a>
    </li>
{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2" id="partial-profile">
        {% include 'users/_profile.html' %}
    </div>

{% endblock %}
{% block additionalScripts %}
    <script>

        function hideAllEdit() {
            $('#edit-headline-div').hide();
            $('#edit-about_me-div').hide();
            $('#edit-gender-div').hide();
            $('#edit-email-div').hide();
            $('#edit-website-div').hide();
            $('#edit-current_city-div').hide();
            $('#edit-birthday-div').hide();
        }

        function submitEdit(event) {
            console.log(event.target.id + "has just been clicked");
            $.post('{% url 'users:edit_profile' %}', $('#user_profile_form').serialize(), function (partial_render) {
                console.log("partial-profile start rendering");
                $('#partial-profile').html(partial_render);
                hideAllEdit();
                console.log("partial-profile rendered");
            });
            event.preventDefault();
        }

        function displayEdit(event) {
            var field = event.target.id.substring(event.target.id.indexOf("-") + 1);
            $('#' + field + '-div').fadeOut("fast");
            $('#edit-' + field + '-div').fadeIn("slow");
            event.preventDefault();
        }

        function cancelEdit(event) {
            var field = event.target.id.substring(event.target.id.indexOf("-") + 1);
            $('#edit-' + field + '-div').fadeOut("fast");
            $('#' + field + '-div').fadeIn("slow");
            event.preventDefault();
        }


        $(document).ready(function () {
            hideAllEdit();
            $('#edit-headline').live('click', function (event) {
                displayEdit(event);
            });
            $('#cancel-headline').live('click', function (event) {
                cancelEdit(event);
            });
            $('#submit-headline').live('click', function (event) {
                submitEdit(event);
            });
            $('#edit-about_me').live('click', function (event) {
                displayEdit(event);
            });
            $('#cancel-about_me').live('click', function (event) {
                cancelEdit(event);
            });
            $('#submit-about_me').live('click', function (event) {
                submitEdit(event);
            });
            $('#edit-gender').live('click', function (event) {
                displayEdit(event);
            });
            $('#cancel-gender').live('click', function (event) {
                cancelEdit(event);
            });
            $('#submit-gender').live('click', function (event) {
                submitEdit(event);
            });
            $('#edit-email').live('click', function (event) {
                displayEdit(event);
            });
            $('#cancel-email').live('click', function (event) {
                cancelEdit(event);
            });
            $('#submit-email').live('click', function (event) {
                submitEdit(event);
            });
            $('#edit-website').live('click', function (event) {
                displayEdit(event);
            });
            $('#cancel-website').live('click', function (event) {
                cancelEdit(event);
            });
            $('#submit-website').live('click', function (event) {
                submitEdit(event);
            });
            $('#edit-current_city').live('click', function (event) {
                displayEdit(event);
            });
            $('#cancel-current_city').live('click', function (event) {
                cancelEdit(event);
            });
            $('#submit-current_city').live('click', function (event) {
                submitEdit(event);
            });
            $('#edit-birthday').live('click', function (event) {
                displayEdit(event);
            });
            $('#cancel-birthday').live('click', function (event) {
                cancelEdit(event);
            });
            $('#submit-birthday').live('click', function (event) {
                submitEdit(event);
            });
        });
    </script>
    <script src="{% static 'assets/components/common/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js' %}?v=v1.9.6&sv=v0.0.1"></script>
    <script src="{% static 'assets/components/common/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js' %}?v=v1.9.6&sv=v0.0.1"></script>
    <script src="{% static 'assets/components/common/forms/elements/jasny-fileupload/assets/js/bootstrap-fileupload.js' %}?v=v1.9.6&sv=v0.0.1"></script>
{% endblock %}