<div class="row" style="margin-top: 30px;">
    <div class="large-3 columns">
        <img src="{% static 'images/plus-icon.png' %}" style="width: 100%">
    </div>
    <div class="large-9 columns">
        <div style="margin-top: 15px; margin-left: -10px">
            <p style="color: #1E5376; font-size: 1.6em; font-weight: 700">Who To Follow</p>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <ul class="follow-list">
        {% for follow in who_to_follow %}
            <li id="follow_{{ follow.id }}">
                <div class="row" style="margin: 3% 5%;">
                    <div class="large-3 columns" style="padding: 0 4%;">
                        <img {% if follow.picture %}src="/media/{{ follow.picture }}"
                             {% else %}src="https://www.gravatar.com/avatar/00000000000000000000000000000000"{% endif %}
                             class="pull-left img-circle small">
                    </div>
                    <div class="large-6 columns">
                        <div style="cursor: pointer;">
                            <a href="{% url 'users:public_profile' follow.user.id %}"><h3
                                    style="font-size: 16px">{{ follow.user.first_name }} {{ follow.user.last_name }}</h3>
                            </a>
                            {% if follow.headline %}
                                <p>{{ follow.headline }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="large-3 columns plus-i" style="text-align: center"
                         onclick="follow_add({{ follow.id }});">
                        +
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>